<h1 class="page-header">SSPGM Family Trees Page</h1>

<p>

<%= link_to "Click here for the Devalia family tree", page_path('familytrees/dfamtree') %><br />
<%= link_to "Click here for the Pankhania family tree (Karaman)", page_path('familytrees/pankhania_karaman') %><br />
<%= link_to "Click here for the Pankhania family tree (Laka)", page_path('familytrees/pankhania_laka.html') %><br />
<%= link_to "Click here for the Pankhania family tree (Naran), Ashford Branch", page_path('familytrees/naranfamtree') %><br />
<%= link_to "Click here for the Pankhania family tree, Rana Khirasara (Thobhan) Branch", page_path('familytrees/devdafamtree') %><br />
<%= link_to "Click here for the Pankhania family tree (Vasta)", page_path('familytrees/pankhania_vasta.html') %><br />
<%= link_to "Click here for the Vara family tree (Jagdish)", page_path('familytrees/varafamtree.html') %>
