<%= render 'shared/new_styles' %>

<%= link_to "Businesses", businesses_path, class: 'list-group-item list-group-item-action list-group-item-primary mb-4' %>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <div class="list-group list-group-flush">
      <% style = @filter_by.nil? ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" %>
      <%= link_to "All Categories", businesses_url, class: style %>
      <% @filter_categories.each do |category| -%>
        <% style = category == @filter_by ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" %>
        <%= link_to category, businesses_url(category: category), class: style %>
      <% end -%>
    </div>
  </div>

  <div class="col-8">
    <% @businesses_by_category.each do |category, businesses| %>
      <% businesses.each do |business| %>
      <div class="card mb-2">
        <div class="card-body">

          <h4 class="card-title"><%= business.name %></h4>
          <b>Owner: </b><%= business.owner %><br />
          <%= business.address %><br />
          <%= business.city %>, <%= business.state %>, <%= business.country %> <%= business.zip %><br />
          <% unless business.tel.blank? %><b>tel: </b><%= business.tel %><br /><% end -%>
          <% unless business.fax.blank? %><b>fax: </b><%= business.fax %><br /><% end -%>
          <% unless business.mobile.blank? %><b>mobile: </b><%= business.mobile %><br /><% end -%>
          <% unless business.website.blank? %><%= link_to business.website, url_with_http(business.website) %><br /><% end -%>
          <% unless business.email.blank? %><%= link_to business.email, "mailto:#{business.email}" %><% end -%>
        </div>
      </div>
      <% end -%>
    <% end -%>
  </div>
</div>
