<h1 class="page-header">SSPGM Businesses Page</h1>

<div class="member-filters">
  <% if @filter_by -%>
    Filtering by "<%= @filter_by %>"<br />
    <%= link_to "<< Return to all results", businesses_url %>
    <br /><br />
  <% end -%>

  <table>
    <tr valign="top">
    <% @filter_categories.each_slice(7) do |categories| -%>
      <td width="200">
        <% categories.each do |category| %>
          <%= link_to category, businesses_url(category: category) %><br />
        <% end -%>
      </td>
    <% end -%>
    </tr>
  </table>
</div>

<br /><br />

<% @businesses_by_category.each do |category, businesses| %>
  <font color="steelblue" size="3"><b><%= category %></b></font><br />
  <% businesses.each do |business| %>
    <%= link_to business.name, business %><br />
  <% end -%>
  <br />
<% end %>
