<div class="row mb-3" style="border-bottom: 2px solid #33CCCC">
  <center><h1 class="page-header">SSPGM Businesses</h1></center>
</div>

<div class="row">
  <div class="col-4 filter-list">
    <% style = @filter_by.nil? ? "active-filter" : "" %>
    <%= link_to "All Businesses", businesses_url, class: style %><br />
    <% @filter_categories.each do |category| -%>
      <% style = category == @filter_by ? "active-filter" : "" %>
      <%= link_to category, businesses_url(category: category), class: style %><br />
    <% end -%>
  </div>

  <div class="col-8">
    <% @businesses_by_category.each do |category, businesses| %>
      <% businesses.each do |business| %>
        <div class="mb-4">
          <h3><%= business.name %></h3>
          <b>Owner: </b><%= business.owner %><br />
          <%= business.address %><br />
          <%= business.city %>, <%= business.state %>, <%= business.country %> <%= business.zip %> <%= business.country %><br />
          <% unless business.tel.blank? %><b>tel: </b><%= business.tel %><br /><% end -%>
          <% unless business.fax.blank? %><b>fax: </b><%= business.fax %><br /><% end -%>
          <% unless business.mobile.blank? %><b>mobile: </b><%= business.mobile %><br /><% end -%>
          <% unless business.website.blank? %><%= link_to business.website, url_with_http(business.website) %><br /><% end -%>
          <% unless business.email.blank? %><%= link_to business.email, "mailto:#{business.email}" %><% end -%>
        </div>
      <% end -%>
    <% end -%>
  </div>
</div>
