<p id="notice"><%= notice %></p>

<b><%= "name".titleize %>: </b><%= @business.name %><br />
<b><%= "owner".titleize %>: </b><%= @business.owner %><br />
<b><%= "address".titleize %>: </b><%= @business.address %><br />
<b><%= "city".titleize %>: </b><%= @business.city %><br />
<b><%= "state".titleize %>: </b><%= @business.state %><br />
<b><%= "zip".titleize %>: </b><%= @business.zip %><br />
<b><%= "country".titleize %>: </b><%= @business.country %><br />
<b><%= "tel".titleize %>: </b><%= @business.tel %><br />
<b><%= "fax".titleize %>: </b><%= @business.fax %><br />
<b><%= "mobile".titleize %>: </b><%= @business.mobile %><br />
<b><%= "website".titleize %>: </b><%= @business.website %><br />
<b><%= "email".titleize %>: </b><%= @business.email %><br />
<b><%= "category".titleize %>: </b><%= @business.category %><br />
<b><%= "spec".titleize %>: </b><%= @business.spec %><br /><br />

<%= link_to 'Back', businesses_path %>
