<%= render 'shared/new_styles' %>

<%= link_to "Folksongs", page_path('folksongs'), class: 'list-group-item list-group-item-action list-group-item-primary mb-4' %>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-info">Shreebai Mataji Folksongs</a>
        <%= link_to "Shreebai Mataji Ni Prathna", page_path("folksongs/shreebhai-mataji-ni-prathna"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Shreebai Mataji Ni Arti", page_path("folksongs/shreebhai-mataji-ni-arti"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Shreebai Mataji No Thal", page_path("folksongs/shreebhai-mataji-no-thal"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Ganapati Bhajans</a>
        <%= link_to "Partham pehelaa samariye re swaami tamane sundaaraa", page_path("folksongs/partham-pehelaa-samariye-re-swaami-tamane-sundaaraa"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Gaa ee ye ganapati jagavandan", page_path("folksongs/gaa-ee-ye-ganapati-jagavandan"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi", page_path("folksongs/pratham-samaru-ganapati-devaa-viddhaan-lejo-maaraa-kaapi"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Hanumaan Bhajans</a>
        <%= link_to "Hanumaan Chalisa", page_path("folksongs/hanumaan-chalisa"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Mangala murati maaruta nandana", page_path("folksongs/mangala-murati-maaruta-nandana"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Chale hanumana yaha aaye", page_path("folksongs/chale-hanumana-yaha-aaye"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Raam Bhajans</a>
        <%= link_to "Shri raamchandra kripaalu", page_path("folksongs/shri-raamchandra-kripaalu"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Thaar</a>
        <%= link_to "Jamavaa aavone nandalaala re", page_path("folksongs/jamavaa-aavone-nandalaala-re"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Tame bhojan karavaa aavone preme paronaa", page_path("folksongs/tame-bhojan-karavaa-aavone-preme-paronaa"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Aarati</a>
        <%= link_to "Aanand mangal karu aarati", page_path("folksongs/aanand-mangal-karu-aarati"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Om jaya jagadiisha hare", page_path("folksongs/om-jaya-jagadiisha-hare"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Kapoor Aarati</a>
        <%= link_to "Kapoor gauram karunaa vataaram", page_path("folksongs/kapoor-gauram-karunaa-vataaram"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Abh sop diyaa</a>
        <%= link_to "Abh sop diyaa is jivan kaa", page_path("folksongs/abh-sop-diyaa-is-jivan-kaa"), class: 'list-group-item list-group-item-action' %>
    
        <a class="list-group-item list-group-item-info">Bhajans, Geets and Dhuns</a>
        <%= link_to "Bhakti karata chute mara prana", page_path("folksongs/bhakti-karata-chute-mara-prana"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Mukunda maadhava govinda bola", page_path("folksongs/mukunda-maadhava-govinda-bola"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Tumhi ho maata pitaa tumhi ho", page_path("folksongs/tumhi-ho-maata-pitaa-tumhi-ho"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Tari ek ek par jaaye lakhni", page_path("folksongs/tari-ek-ek-par-jaaye-lakhni"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Hey sitaaraam tanaa satsangmaa", page_path("folksongs/hey-sitaaraam-tanaa-satsangmaa"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Hari bola, hari bola, hari hari bola", page_path("folksongs/hari-bola"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Raghupati raaghava raaja raam", page_path("folksongs/raghupati-raaghava-raaja-raam"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Aai malik tere bande hum", page_path("folksongs/aai-malik-tere-bande-hum"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Prabhu mane shak padyo man may", page_path("folksongs/prabhu-mane-shak-padyo-man-may"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Jesal kari le vichaar", page_path("folksongs/jesal-kari-le-vichaar"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Prabhu tara charanoma amane tu leje", page_path("folksongs/prabhu-tara-charanoma-amane-tu-leje"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Jamunaa jaramaa kesar ghori", page_path("folksongs/jamunaa-jaramaa-kesar-ghori"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Sukhake saba saathii dukhamen na koii", page_path("folksongs/sukhake-saba-saathii-dukhamen-na-koii"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Dhuni re dhakhaavi beli ame taaraa naamani", page_path("folksongs/dhuni-re-dhakhaavi-beli-ame-taaraa-naamani"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Paayo jii mainne raam ratan dhan paayo", page_path("folksongs/paayo-jii-mainne-raam-ratan-dhan-paayo"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Siitaa raam siitaa raam siitaaraam kahiye", page_path("folksongs/siitaa-raam-siitaa-raam-siitaaraam-kahiye"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Banavaarii re", page_path("folksongs/banavaarii-re"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Bhagavaan merii naiyaa us paar lagaa denaa", page_path("folksongs/bhagavaan-merii-naiyaa-us-paar-lagaa-denaa"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Mailii chaadar odh ke kaise dvaar tumhaare aauun", page_path("folksongs/mailii-chaadar-odh-ke-kaise-dvaar-tumhaare-aauun"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Hamako manakii shakti denaa, mana vijaya karen", page_path("folksongs/hamako-manakii-shakti-denaa-mana-vijaya-karen"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Jyota se jyota jagaate chalo prema kii gangaa bahaate chalo", page_path("folksongs/jyota-se-jyota-jagaate-chalo-prema-kii-gangaa-bahaate-chalo"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Allaah tero naam, Ishvar tero naam", page_path("folksongs/allaah-tero-naam-ishvar-tero-naam"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Man tadapat hari darasan ko aaj", page_path("folksongs/man-tadapat-hari-darasan-ko-aaj"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Vaishnav jan to tene kahiye je", page_path("folksongs/vaishnav-jan-to-tene-kahiye-je"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Aisi lagi lagan, meera ho gai magan", page_path("folksongs/aisi-lagi-lagan-meera-ho-gai-magan"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Rang de chunariya, rang de chunariya", page_path("folksongs/rang-de-chunariya-rang-de-chunariya"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Tan ke tamboore mein", page_path("folksongs/tan-ke-tamboore-mein"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Ita naa to karnaa swaami, jab praan tana se nikale", page_path("folksongs/ita-naa-to-karnaa-swaami-jab-praan-tana-se-nikale"), class: 'list-group-item list-group-item-action' %>
        <%= link_to "Pinjare ke panchhii re", page_path("folksongs/pinjare-ke-panchhii-re"), class: 'list-group-item list-group-item-action' %>
    </div>
  </div>

  <div class="col-8">
    <%= yield %>
  </div>
</div>
