<h1 class="page-header">Folksongs</h1>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <nav class="nav flex-column">
        <b>Following Bhajans/Dhuns Submitted by Dhiru Zina Pankhania, Atlanta, GA USA</b><br />

        <font color="red"><b>Shreebai Mataji Folksongs</b></font>
        <%= link_to "Shreebai Mataji Ni Prathna", page_path('folksongs/shreebhai_mataji_ni_prathna'), class: 'nav-link' %>
        <%= link_to "Shreebai Mataji Ni Arti", page_path('folksongs/shreebhai_mataji_ni_arti'), class: 'nav-link' %>
        <%= link_to "Shreebai Mataji No Thal", page_path('folksongs/shreebhai_mataji_no_thal'), class: 'nav-link' %>
    
        <font color="red"><b>Ganapati Bhajans</b></font><br />
        <%= link_to "Partham pehelaa samariye re swaami tamane sundaaraa", page_path('folksongs/partham_pehelaa_samariye_re_swaami_tamane_sundaaraa'), class: 'nav-link' %><br />
        <%= link_to "Gaa ee ye ganapati jagavandan", page_path('folksongs/gaa_ee_ye_ganapati_jagavandan'), class: 'nav-link' %><br />
        <%= link_to "Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi", page_path('folksongs/pratham_samaru_ganapati_devaa_viddhaan_lejo_maaraa_kaapi'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Hanumaan Bhajans</b></font><br />
        <%= link_to "Hanumaan Chalisa", page_path('folksongs/hanumaan_chalisa'), class: 'nav-link' %><br />
        <%= link_to "Mangala murati maaruta nandana", page_path('folksongs/mangala_murati_maaruta_nandana'), class: 'nav-link' %><br />
        <%= link_to "Chale hanumana yaha aaye", page_path('folksongs/chale_hanumana_yaha_aaye'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Raam Bhajans</b></font><br />
        <%= link_to "Shri raamchandra kripaalu", page_path('folksongs/shri_raamchandra_kripaalu'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Thaar</b></font><br />
        <%= link_to "Jamavaa aavone nandalaala re", page_path('folksongs/jamavaa_aavone_nandalaala_re'), class: 'nav-link' %><br />
        <%= link_to "Tame bhojan karavaa aavone preme paronaa", page_path('folksongs/tame_bhojan_karavaa_aavone_preme_paronaa'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Aarati</b></font><br />
        <%= link_to "Aanand mangal karu aarati", page_path('folksongs/aanand_mangal_karu_aarati'), class: 'nav-link' %><br />
        <%= link_to "Om jaya jagadiisha hare", page_path('folksongs/om_jaya_jagadiisha_hare'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Kapoor Aarati</b></font><br />
        <%= link_to "Kapoor gauram karunaa vataaram", page_path('folksongs/kapoor_gauram_karunaa_vataaram'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Abh sop diyaa</b></font><br />
        <%= link_to "Abh sop diyaa is jivan kaa", page_path('folksongs/abh_sop_diyaa_is_jivan_kaa'), class: 'nav-link' %><br /><br />
    
        <font color="red"><b>Bhajans, Geets and Dhuns</b></font><br />
        <%= link_to "Bhakti karata chute mara prana", page_path('folksongs/bhakti_karata_chute_mara_prana'), class: 'nav-link' %><br />
        <%= link_to "Mukunda maadhava govinda bola", page_path('folksongs/mukunda_maadhava_govinda_bola'), class: 'nav-link' %><br />
        <%= link_to "Tumhi ho maata pitaa tumhi ho", page_path('folksongs/tumhi_ho_maata_pitaa_tumhi_ho'), class: 'nav-link' %><br />
        <%= link_to "Tari ek ek par jaaye lakhni", page_path('folksongs/tari_ek_ek_par_jaaye_lakhni'), class: 'nav-link' %><br />
        <%= link_to "Hey sitaaraam tanaa satsangmaa", page_path('folksongs/hey_sitaaraam_tanaa_satsangmaa'), class: 'nav-link' %><br />
        <%= link_to "Hari bola, hari bola, hari hari bola", page_path('folksongs/hari_bola'), class: 'nav-link' %><br />
        <%= link_to "Raghupati raaghava raaja raam", page_path('folksongs/raghupati_raaghava_raaja_raam'), class: 'nav-link' %><br />
        <%= link_to "Aai malik tere bande hum", page_path('folksongs/aai_malik_tere_bande_hum'), class: 'nav-link' %><br />
        <%= link_to "Prabhu mane shak padyo man may", page_path('folksongs/prabhu_mane_shak_padyo_man_may'), class: 'nav-link' %><br />
        <%= link_to "Jesal kari le vichaar", page_path('folksongs/jesal_kari_le_vichaar'), class: 'nav-link' %><br />
        <%= link_to "Prabhu tara charanoma amane tu leje", page_path('folksongs/prabhu_tara_charanoma_amane_tu_leje'), class: 'nav-link' %><br />
        <%= link_to "Jamunaa jaramaa kesar ghori", page_path('folksongs/jamunaa_jaramaa_kesar_ghori'), class: 'nav-link' %><br />
        <%= link_to "Sukhake saba saathii dukhamen na koii", page_path('folksongs/sukhake_saba_saathii_dukhamen_na_koii'), class: 'nav-link' %><br />
        <%= link_to "Dhuni re dhakhaavi beli ame taaraa naamani", page_path('folksongs/dhuni_re_dhakhaavi_beli_ame_taaraa_naamani'), class: 'nav-link' %><br />
        <%= link_to "Paayo jii mainne raam ratan dhan paayo", page_path('folksongs/paayo_jii_mainne_raam_ratan_dhan_paayo'), class: 'nav-link' %><br />
        <%= link_to "Siitaa raam siitaa raam siitaaraam kahiye", page_path('folksongs/siitaa_raam_siitaa_raam_siitaaraam_kahiye'), class: 'nav-link' %><br />
        <%= link_to "Banavaarii re", page_path('folksongs/banavaarii_re'), class: 'nav-link' %><br />
        <%= link_to "Bhagavaan merii naiyaa us paar lagaa denaa", page_path('folksongs/bhagavaan_merii_naiyaa_us_paar_lagaa_denaa'), class: 'nav-link' %><br />
        <%= link_to "Mailii chaadar odh ke kaise dvaar tumhaare aauun", page_path('folksongs/mailii_chaadar_odh_ke_kaise_dvaar_tumhaare_aauun'), class: 'nav-link' %><br />
        <%= link_to "Hamako manakii shakti denaa, mana vijaya karen", page_path('folksongs/hamako_manakii_shakti_denaa_mana_vijaya_karen'), class: 'nav-link' %><br />
        <%= link_to "Jyota se jyota jagaate chalo prema kii gangaa bahaate chalo", page_path('folksongs/jyota_se_jyota_jagaate_chalo_prema_kii_gangaa_bahaate_chalo'), class: 'nav-link' %><br />
        <%= link_to "Allaah tero naam, Ishvar tero naam", page_path('folksongs/allaah_tero_naam_ishvar_tero_naam'), class: 'nav-link' %><br />
        <%= link_to "Man tadapat hari darasan ko aaj", page_path('folksongs/man_tadapat_hari_darasan_ko_aaj'), class: 'nav-link' %><br />
        <%= link_to "Vaishnav jan to tene kahiye je", page_path('folksongs/vaishnav_jan_to_tene_kahiye_je'), class: 'nav-link' %><br />
        <%= link_to "Aisi lagi lagan, meera ho gai magan", page_path('folksongs/aisi_lagi_lagan_meera_ho_gai_magan'), class: 'nav-link' %><br />
        <%= link_to "Rang de chunariya, rang de chunariya", page_path('folksongs/rang_de_chunariya_rang_de_chunariya'), class: 'nav-link' %><br />
        <%= link_to "Tan ke tamboore mein", page_path('folksongs/tan_ke_tamboore_mein'), class: 'nav-link' %><br />
        <%= link_to "Ita naa to karnaa swaami, jab praan tana se nikale", page_path('folksongs/ita_naa_to_karnaa_swaami_jab_praan_tana_se_nikale'), class: 'nav-link' %><br />
        <%= link_to "Pinjare ke panchhii re", page_path('folksongs/pinjare_ke_panchhii_re'), class: 'nav-link' %><br />
    </nav>
  </div>

  <div class="col-8">
    <%= yield %>
  </div>
</div>
