<%= render 'shared/new_styles' %>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-info">Shreebai Mataji Folksongs</a>
        <%= link_to "Shreebai Mataji Ni Prathna", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'shreebhai_mataji_ni_prathna' %>
        <%= link_to "Shreebai Mataji Ni Arti", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'shreebhai_mataji_ni_arti' %>
        <%= link_to "Shreebai Mataji No Thal", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'shreebhai_mataji_no_thal' %>
    
        <a class="list-group-item list-group-item-info">Ganapati Bhajans</a>
        <%= link_to "Partham pehelaa samariye re swaami tamane sundaaraa", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'partham_pehelaa_samariye_re_swaami_tamane_sundaaraa' %>
        <%= link_to "Gaa ee ye ganapati jagavandan", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'gaa_ee_ye_ganapati_jagavandan' %>
        <%= link_to "Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'pratham_samaru_ganapati_devaa_viddhaan_lejo_maaraa_kaapi' %>
    
        <a class="list-group-item list-group-item-info">Hanumaan Bhajans</a>
        <%= link_to "Hanumaan Chalisa", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'hanumaan_chalisa' %>
        <%= link_to "Mangala murati maaruta nandana", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'mangala_murati_maaruta_nandana' %>
        <%= link_to "Chale hanumana yaha aaye", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'chale_hanumana_yaha_aaye' %>
    
        <a class="list-group-item list-group-item-info">Raam Bhajans</a>
        <%= link_to "Shri raamchandra kripaalu", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'shri_raamchandra_kripaalu' %>
    
        <a class="list-group-item list-group-item-info">Thaar</a>
        <%= link_to "Jamavaa aavone nandalaala re", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'jamavaa_aavone_nandalaala_re' %>
        <%= link_to "Tame bhojan karavaa aavone preme paronaa", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'tame_bhojan_karavaa_aavone_preme_paronaa' %>
    
        <a class="list-group-item list-group-item-info">Aarati</a>
        <%= link_to "Aanand mangal karu aarati", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'aanand_mangal_karu_aarati' %>
        <%= link_to "Om jaya jagadiisha hare", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'om_jaya_jagadiisha_hare' %>
    
        <a class="list-group-item list-group-item-info">Kapoor Aarati</a>
        <%= link_to "Kapoor gauram karunaa vataaram", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'kapoor_gauram_karunaa_vataaram' %>
    
        <a class="list-group-item list-group-item-info">Abh sop diyaa</a>
        <%= link_to "Abh sop diyaa is jivan kaa", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'abh_sop_diyaa_is_jivan_kaa' %>
    
        <a class="list-group-item list-group-item-info">Bhajans, Geets and Dhuns</a>
        <%= link_to "Bhakti karata chute mara prana", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'bhakti_karata_chute_mara_prana' %>
        <%= link_to "Mukunda maadhava govinda bola", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'mukunda_maadhava_govinda_bola' %>
        <%= link_to "Tumhi ho maata pitaa tumhi ho", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'tumhi_ho_maata_pitaa_tumhi_ho' %>
        <%= link_to "Tari ek ek par jaaye lakhni", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'tari_ek_ek_par_jaaye_lakhni' %>
        <%= link_to "Hey sitaaraam tanaa satsangmaa", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'hey_sitaaraam_tanaa_satsangmaa' %>
        <%= link_to "Hari bola, hari bola, hari hari bola", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'hari_bola' %>
        <%= link_to "Raghupati raaghava raaja raam", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'raghupati_raaghava_raaja_raam' %>
        <%= link_to "Aai malik tere bande hum", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'aai_malik_tere_bande_hum' %>
        <%= link_to "Prabhu mane shak padyo man may", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'prabhu_mane_shak_padyo_man_may' %>
        <%= link_to "Jesal kari le vichaar", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'jesal_kari_le_vichaar' %>
        <%= link_to "Prabhu tara charanoma amane tu leje", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'prabhu_tara_charanoma_amane_tu_leje' %>
        <%= link_to "Jamunaa jaramaa kesar ghori", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'jamunaa_jaramaa_kesar_ghori' %>
        <%= link_to "Sukhake saba saathii dukhamen na koii", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'sukhake_saba_saathii_dukhamen_na_koii' %>
        <%= link_to "Dhuni re dhakhaavi beli ame taaraa naamani", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'dhuni_re_dhakhaavi_beli_ame_taaraa_naamani' %>
        <%= link_to "Paayo jii mainne raam ratan dhan paayo", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'paayo_jii_mainne_raam_ratan_dhan_paayo' %>
        <%= link_to "Siitaa raam siitaa raam siitaaraam kahiye", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'siitaa_raam_siitaa_raam_siitaaraam_kahiye' %>
        <%= link_to "Banavaarii re", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'banavaarii_re' %>
        <%= link_to "Bhagavaan merii naiyaa us paar lagaa denaa", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'bhagavaan_merii_naiyaa_us_paar_lagaa_denaa' %>
        <%= link_to "Mailii chaadar odh ke kaise dvaar tumhaare aauun", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'mailii_chaadar_odh_ke_kaise_dvaar_tumhaare_aauun' %>
        <%= link_to "Hamako manakii shakti denaa, mana vijaya karen", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'hamako_manakii_shakti_denaa_mana_vijaya_karen' %>
        <%= link_to "Jyota se jyota jagaate chalo prema kii gangaa bahaate chalo", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'jyota_se_jyota_jagaate_chalo_prema_kii_gangaa_bahaate_chalo' %>
        <%= link_to "Allaah tero naam, Ishvar tero naam", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'allaah_tero_naam_ishvar_tero_naam' %>
        <%= link_to "Man tadapat hari darasan ko aaj", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'man_tadapat_hari_darasan_ko_aaj' %>
        <%= link_to "Vaishnav jan to tene kahiye je", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'vaishnav_jan_to_tene_kahiye_je' %>
        <%= link_to "Aisi lagi lagan, meera ho gai magan", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'aisi_lagi_lagan_meera_ho_gai_magan' %>
        <%= link_to "Rang de chunariya, rang de chunariya", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'rang_de_chunariya_rang_de_chunariya' %>
        <%= link_to "Tan ke tamboore mein", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'tan_ke_tamboore_mein' %>
        <%= link_to "Ita naa to karnaa swaami, jab praan tana se nikale", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'ita_naa_to_karnaa_swaami_jab_praan_tana_se_nikale' %>
        <%= link_to "Pinjare ke panchhii re", "#", class: 'list-group-item list-group-item-action folksong-link', 'data-id': 'pinjare_ke_panchhii_re' %>
    </div>
  </div>

  <div class="col-8">
    <div id="folksong-content"><p class="lead">Bhajans/Dhuns submitted by Dhiru Zina Pankhania, Atlanta, GA USA</p></div>
  </div>
</div>

<script>
$('.folksong-link').on('click', function (e) {
  e.preventDefault();
  var folksong = e.target.getAttribute('data-id')
  $("#folksong-content").load(folksong);
});
</script>
