<%- person_id = professional.person_id %>

<div class="row mb-4">
  <div class="col-4">
    <h4><%= link_to "Basic Information", edit_person_path(person_id) %></h4>
  </div>
  <div class="col-4">
    <h4><a href="#"><font color="#33CCCC">Professional Listing</font></a></h4>
  </div>
</div>

<%= form_with(model: professional, validate: true) do |form| %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.radio_button :private, false, checked: true, value: false %>
      <%= label :private, "Public", value: false %><br />
      If this listing is public, it will be searchable on the internet and available for viewing by
      anyone online.
    </div>
    <div class="form-group col-md-6">
      <%= form.radio_button :private, true, value: true%>
      <%= label :private, "Private", value: true %><br />
      If this listing is private, only SSPGM members who have logged in will be able to view it.
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :first_name %><br />
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :middle_name %><br />
      <%= form.text_field :middle_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :last_name %><br />
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 form-group col-md-4">
      <%= form.label :graduation_degree %><br />
      <%= form.text_field :graduation_degree, class: "form-control" %>
    </div>

    <div class="col-4 form-group col-md-4">
      <%= form.label :graduation_university %><br />
      <%= form.text_field :graduation_university, class: "form-control" %>
    </div>

    <div class="col-4 form-group col-md-4">
      <%= form.label :graduation_year %><br />
      <%= form.text_field :graduation_year, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 form-group">
      <%= form.label :job_title %><br />
      <%= form.text_field :job_title, class: "form-control" %>
    </div>

    <div class="col-6 form-group">
      <%= form.label :job_company %><br />
      <%= form.text_field :job_company, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :location %><br />
      <%= form.text_field :location, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :telephone %><br />
      <%= form.text_field :telephone, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :mobile %><br />
      <%= form.text_field :mobile, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :fax %><br />
      <%= form.text_field :fax, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :email %><br />
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :website %><br />
      <%= form.text_field :website, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :category %><br />
      <%= form.collection_select :category, Professional.order(:category).select('DISTINCT category'), :category, :category, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :Specification %><br />
      <%= form.collection_select :spec, Professional.order(:spec).select('DISTINCT spec'), :spec, :spec, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", members_url, class: "btn btn-secondary" %>
  </div>
<% end -%>
