<center><h1 class="page-header">SSPGM Professionals Page</h1></center>

<table cellspacing="0" cellpadding="9" height="100%" width="1000"><tr>

<td width="70%" height="100%">
<table cellspacing="0" cellpadding="7" height="100%" width="100%">
<tr valign="top">
<td><font size="2" color=white>

<% if @filter_by -%>
  Filtering by "<%= @filter_by %>"<br />
  <%= link_to "<< Return to all results", professionals_url %><br /><br />
<% else -%>
  <table style="border: 2px solid steelblue">
    <tr>
      <td>
        <font color="red"><b>Filter by...</b></font>
      </td>
    </tr>
    <tr valign="top">
    <% @filter_categories.each_slice(7) do |categories| -%>
      <td width="200">
        <% categories.each do |category| %>
          <%= link_to category, professionals_url(category: category) %><br />
        <% end -%>
      </td>
    <% end -%>
    </tr>
</table>
<% end -%>

<br /><br />

<% @professionals_by_category.each do |category, professionals| %>
  <font color="steelblue" size="3"><b><%= category %></b></font><br />
  <% professionals.each do |professional| %>
    <%= link_to professional.name, professional %><br />
  <% end -%>
  <br />
<% end %>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table cellspacing="0" cellpadding="7" height="100%" width="100%" style="border-left: 2px solid #CC3333">
<tr valign="top">
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
