<div class="row" style="border-bottom: 2px solid #33CCCC">
  <center><h1 class="page-header">SSPGM Professionals</h1></center>
</div>

<div class="row">
  <div class="col-4 p-3 filter-list" style="border-right:2px solid #33CCCC">
    <% style = @filter_by.nil? ? "active-filter" : "" %>
    <%= link_to "All Categories", professionals_url, class: style %><br />
    <% @filter_categories.each do |category| -%>
      <% style = category == @filter_by ? "active-filter" : "" %>
      <%= link_to category, professionals_url(category: category), class: style %><br />
    <% end -%>
  </div>

  <div class="col-8 p-3">
    <% @professionals_by_category.each do |category, professionals| %>
      <% professionals.each do |professional| %>
        <div class="mb-4">
          <h3><%= professional.full_name %></h3>
          <% unless professional.graduation_degree.blank? %><%= professional.graduation_degree %><% unless professional.graduation_year.blank? %> (<%= professional.graduation_year %>)<br /><% end %><% end %>
          <% unless professional.graduation_university.blank? %><%= professional.graduation_university %><br /><% end %>
          <% unless professional.job_title.blank? %><b>Title: </b><%= professional.job_title %><br /><% end %>
          <% unless professional.job_company.blank? %><b>Company: </b><%= professional.job_company %><br /><% end %>
          <% unless professional.location.blank? %><b>Location: </b><%= professional.location %><br /><% end %>
          <% unless professional.telephone.blank? %><b>Telephone: </b><%= professional.telephone %><br /><% end %>
          <% unless professional.mobile.blank? %><b>Mobile: </b><%= professional.mobile %><br /><% end %>
          <% unless professional.fax.blank? %><b>Fax: </b><%= professional.fax %><br /><% end %>
          <% unless professional.email.blank? %><b>Email: </b><%= link_to professional.email, "mailto:#{professional.email}" %><br /><% end %>
          <% unless professional.website.blank? %><b>Website: </b><%= link_to professional.website, url_with_http(professional.website) %><br /><% end %>
          <% unless professional.spec.blank? %><b>Specification: </b><%= professional.spec %><br /><% end %>
        </div>
      <% end -%>
      <br />
    <% end %>
  </div>
</div>
