<%= render 'shared/new_styles' %>

<%= link_to "Nairobi Mandal", page_path('mandals/nairobi'), class: 'list-group-item list-group-item-action list-group-item-primary mb-4' %>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <div class="list-group list-group-flush">
      <%= link_to "About", page_path('mandals/nairobi/about'), class: 'list-group-item list-group-item-action' %>
      <%= link_to "History", page_path('mandals/nairobi/history'), class: 'list-group-item list-group-item-action' %>
      <%= link_to "Photo Gallery", page_path('mandals/nairobi/photos'), class: 'list-group-item list-group-item-action' %>
      <%= link_to "Temple Project", page_path('mandals/nairobi/temple'), class: 'list-group-item list-group-item-action' %>
    </div>
  </div>

  <div class="col-8">
    <%= yield %>
  </div>
</div>
