<%= render "pages/mandals/nairobi/layout" do %>
  <h1>Nairobi Mandal Photo Gallery</h1>

  <b>2013 Diwali Sneh Milan</b><br />
  <%= link_to image_tag('nairobi/2013_diwali1.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali1.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali2.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali2.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali3.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali3.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali4.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali4.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali5.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali5.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali6.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali6.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali7.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali7.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali8.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali8.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali9.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali9.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali10.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali10.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali11.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali11.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali12.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali12.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali13.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali13.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali14.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali14.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali15.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali15.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali16.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali16.jpg') %>
  <%= link_to image_tag('nairobi/2013_diwali17.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali17.jpg') %>

  <br><br>

  <b>Cultural Programs</b><br />
  <%= link_to image_tag('nairobi/cult_prog1.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog1.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog2.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog2.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog3.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog3.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog4.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog4.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog5.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog5.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog6.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog6.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog7.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog7.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog8.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog8.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog9.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog9.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog10.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog10.jpg') %>
  <%= link_to image_tag('nairobi/cult_prog11.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog11.jpg') %>
<% end %>