<%= render "pages/mandals/nairobi/layout" do %>
  <h1>Nairobi Mandal Temple Development Project</h1>

  <%= link_to image_tag('nairobi/nairobi_temple1.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple1.jpg') %>
  <%= link_to image_tag('nairobi/nairobi_temple2.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple2.jpg') %>
  <%= link_to image_tag('nairobi/nairobi_temple3.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple3.jpg') %>
  <%= link_to image_tag('nairobi/nairobi_temple4.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple4.jpg') %>
  <%= link_to image_tag('nairobi/nairobi_temple5.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple5.jpg') %>
  <%= link_to image_tag('nairobi/nairobi_temple6.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple6.jpg') %>
  <%= link_to image_tag('nairobi/nairobi_temple7.jpg', height:100, width: 150), image_path('nairobi/nairobi_temple7.jpg') %><br />
  </center><br><br>

  Dear Respected Sir / Madam,<br><br>

  This is our humble appeal for a donation for our temple development project, Shree Sorathia Prajapati Gnati Mandal (SSPGM). A small and integral part of the Asian community in Kenya established since 02nd August 1930 has launched its Shribai Mataji Temple development project at their recently acquired new premises on Peponi Road, Westlands, Nairobi.<br><br>

  The project is construction of a Temple hall, Social Hall, 02 basement parkings, Kitchen and utility facility. To fund this project we "Shree Sorathia Prajapati Gnati Mandal", invite all well-wishers, friends, suppliers, to come forward and pledge their donations to this noble cause.<br><br>

  For further information/clarification, please feel free to contact us on +254722522956 / +254725679151.<br><br><br>


  Yours Sincerely,<br><br>

  Bharat Tank<br>
  Hon Secretary<br>
  Shree Sorathia Prajapati Gnati Mandal<br>
  P.O.Box 218 -- 00623<br>
  Nairobi, Kenya<br>
  Mobile: +254 722522956<br><br>

  Email: <a href="mailto:sspgmnbi@hotmail.com">sspgmnbi@hotmail.com</a><br>
  Facebook: <a href="http://www.facebook.com/SSPGM-Kenya">www.facebook.com/SSPGM-Kenya</a>
<% end %>