<%= render 'shared/new_styles' %>

<h1>Educational Trust Funds</h1>
<%= link_to "Lunai Mataji Education Trust Fund", page_path('mandals/mumbai/lunai-mataji-education-trust') %><br />
<%= link_to "Shree Sorathia Prajapati Vidyotejak Mandal", page_path('mandals/porbandar/establishment') %><br />
<%= link_to "Shribai Kanya Chhatralay Education Trust", page_path('trust-funds/shribai-kanya-chhatralay-education-trust-junagadh') %><br />
<%= link_to "Shri Sorathia Prajapati Vidyamandal - Original", page_path('mandals/valabh-vidyanagar/trust-fund') %> | <%= link_to "Updated", page_path('mandals/valabh-vidyanagar/trust-fund-update') %><br />
<%= link_to "Smt. Amrutben Mandubhai Gohil Kanya Kelvani Trust", page_path('trust-funds/kelvani-trust') %>
