<%= link_to root_url do %><font color=yellow><b>Back to Main</b></font><% end -%><br /><br />

<font color=red><b>**Click Here**</b></font><br />
<a href=http://www.sspgm.net/directory/country.php><font color=#33CCCC><b>Global SSPGM Directory</b></font></a><br /><br />

<font color=red><b>Comments Page</b></font><br />
<a href=http://www.sspgm.net/comments/comments.php>Click Here</a><br /><br />

<font color=red><b>Business Directory</b></font><br />
<a href=http://www.sspgm.net/business/index.php>Click for Listings</a><br /><br />

<font color=red><b>Professional Directory</b></font><br />
<a href=http://www.sspgm.net/professional/index.php>Click for Listings</a><br /><br />

<font color=red><b>Educational Trust Funds</b></font><br />
<%= link_to "Click Here", page_path('trustfunds') %><br /><br />

<font color=red><b>Voluntary Services</b></font><br />
<%= link_to "Click Here", page_path('voluntary') %><br /><br />

<font color=red><b>Publications</b></font><br />
<%= link_to "Click Here", page_path('publications') %><br /><br />

<%= render 'shared/chapters_links' %><br /><br />

<font color=red><b>Send us an email:</b></font><br />
<a href=mailto:shiladhiru@yahoo.com>shiladhiru@yahoo.com</a>
