<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">
      <center>


        <h1 class="page-header">The History of the Atlanta SSPGM Mandal</h1>
        By Mohanlal Virjibhai Fatania

              <BR><BR>In the year 1968, the Madhwani Sugar
              Factory employed Mohan as an Engineer in Kakira, Uganda. He had studied at
              the University of Poona, India and earned his Degree in Mechanical
              Engineering. He was one of the rare, few crop of young, college educated,
              Kumbhars of the era. His will power and ambition was going to take him
              across the seas and further than any other Kumbhar had dared dreamed.


              <BR><BR>On December 1969, he got married to Pushpa, daughter of Mohanlal
              Virjibhai Fatania, of Thompson's Falls, Kenya. Soon after this, he
              received his Visa from the American Consulate and arrived in the U.S.A in
              1970. Pushpa had to stay back in Kenya with her parents to await her Visa.
              Mohan worked in New Jersey and Chicago, soon Pushpa joined him and they
              bought a house in Chicago and had two sons Sarjoo and Sanjay.

              <BR><BR>In
              the Christmas of the year 1975, Arun, Pushpa's younger brother, came for a
              visit.

              <BR><BR>On August 1977, Arun, Pushpa's younger brother got married
              and Mohan, Pushpa and family came to U.K for the wedding. Mohanlal invited
              Dayabhai Gokalbhai Bharadwa (Pushpa's first cousin) for a visit to the
              U.S.A.

              <BR><BR>In 1979, Mohanlal received a great job offer from a company
              based in Atlanta, Georgia and the family settled down in a beautiful new
              house in Atlanta, Georgia. Then, in the summer of 1979, Mohanlal, Maniben
              and their daughter Shila, (Pushpa's parent's and younger sister) arrived
              in the America for a visit, they toured the U.S.A and Canada. They really
              liked the country and the lifestyle in the U.S.A, the weather and the
              greenery reminded Mohanlal of Kenya, and on their return to U.K, they
              encouraged Arun and Daya to visit the States. Meanwhile, Pushpa had
              started the process to sponsor her parents and brother and sisters for
              visas to the United States of America.

              <BR><BR>On December 1979, both Arun
              and Daya came for a visit to the U.S.A and by mutual agreement, Mohan and
              Daya, decided to form a business partnership. They bought Bodywork and a
              Paint Shop in Atlanta. Shortly, after this Daya and his family moved to
              Atlanta and started working on the business. He invited Karubhai Nathabhai
              Koria, he soon settled down in Atlanta with his family and then he invited
              Nanjibhai Khimjibhai Shingadia, upon encouragement from Mohanlal
              Pankhania, Nanjibhai and his family settled down in Atlanta. Soon
              Aswinbhai Nathabhai Koria, Mohanlal Virjibhai and Maniben Fatania,
              sponsored by his daughter Pushapa (her brother and sisters were still
              awaiting their visas), Devjibhai Gokalbhai Bharadwa (Daya's older brother)
              and Ashok Parbatbhai Taank settled in Atlanta with their families. Later ,
              Dayabhai Bharadwa and his family moved to Orlando, Florida.

              <BR><BR>These
              families used to get together every three months in somebody's house.
              Soon, it was suggested that there was a need to establish Shree Sorathia
              Prajapati Mandal chapter in Atlanta. The Founding Members were as
              follows:<BR>Mohanlal Virjibhai Fatania<BR>Mohanbhai Naranbhai Pankhania
              <BR>Karubhai Nathabhai Koria<BR>Nanjibhai Khimjibhai
              Shingadia<BR>Devjibhai Gokalbhai Bharadwa

                <BR><BR>Mohanlal Pankhania was
              the first elected President of the newly founded SSPGM Organization.
              Subsequent to that, he has held various positions in the executive
              committee, i.e. Vice President, Treasurer, Secretary, Advisor, and three
              times President to name a few.

              <BR><BR>The Atlanta Mandal was established
              on February 8th 1984, and the community decided that now as there was
              revenue, they could hire a hall for functions instead of gathering at
              members' houses. Since then, all the festivals such as Navratri, Diwali
              are celebrated in a Hall. We also celebrate Satam, Father's Day, Mother's
              Day and miscellaneous picnics. Last year, there was the ' Boat Party' it
              was a blast! This year we had a fabulous Valentine's party.

              <BR><BR>Since
              these humble beginnings, the Atlanta chapter has over 20 family members
              and has progressed to elect the first female SSPGM, President, Shilaben
              Dhiru Pankhania, and her committee has striven for higher standards and a
              structure. This committee published the most needed, first edition of the
              U.S.A/ Canada Directory, and Shila and Dhiru Zina Pankhania, have
              instigated the first worldwide web-site of this nature ever attempted.


              <BR><BR>It must be noted that Mohanbhai Naranbhai Pankhania was the first
              community member to settle in Atlanta, U.S.A, due to all his good efforts
              and good will, we all in Atlanta had this wonderful opportunity to settle
              in this wonderful city and country.

              <BR><BR>
              <CENTER><%= image_tag 'mohanp_3.jpg', height: 180, width: 130 %>
              <P><FONT face=arial color=red size=2>Mohanlal and Pushpa Pankhania</FONT>




      </center>
    </div>

    <div class="col-4">
      <center>
        <font color="red"><b>Features</b></font><br>
        <%= link_to "Mandal History", page_path('atlantawelcome') %><br />
        <%= link_to "Constitution", page_path('usconstitution') %><br />
        <%= link_to "Committee 2003 - 2005", page_path('pres2003') %><br>
        <%= link_to "Committee 2000 - 2003", page_path('sspgmatlpres') %><br><br>

        <font color="red"><b>Photo Archives</b></font><br>
        <%= link_to "Click Here", page_path('sspgmphotos') %><br><br>

        <font color="red"><b>Events</b></font><br>
        <%= link_to "2001 India Earthquake Relief Fund", page_path('relieffund') %><br>
        <%= link_to "2002 Easter", page_path('easter2002') %><br>
        <%= link_to "2004 Sundarkand Path", page_path('sundarkandphotos') %><p>
      </center>
    </div>

  </div>
</div>
