<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">
      <center>



        <h1 class="page-header">SSPGM Atlanta Easter/Holi Breakfast Picnic - March 31 2002</h1></center>

        Welcome,<br>
        Again we have had a very successful Breakfast Picnic.  The venue was held at Stone Mountain Park, and we had a great turnout.
        We would like to thank the volunteers that planned the event, and also the volunteers that participated in the creation of such wonderful food.
        The menu was great starting off with donughts, jilebi's, Ghatia, Sambar, veggie wraps, grilled cheese, and many more items.  YUMMY!
        We also held an easter egg hunt and a Piniata contest.
        Last but not least we had a fabulous surprise from the President - Shila Pankhania, who brought powder paint so that we could celebrate our religious holiday- HOLI.  We all had a great time, thank you everyone for being there!<br><br>
        Krishna Dhokia  - -Youth Representative</P>

        Holi is a spring festival celebrated at the approach of the spring season,
        and is celebrated by throwing colors and colored powder in the air. The Holi festival marks the end of winter
        and the beginning of spring, and it essentially means the triumph of good over evil. It has
        different mythological connotations in different parts of South Asia. Here are some
        SSPGM members enjoying a colorful time!




      </center>
    </div>

    <div class="col-4">
      <center>
        <font color="red"><b>Features</b></font><br>
        <%= link_to "Mandal History", page_path('atlantawelcome') %><br />
        <%= link_to "Constitution", page_path('usconstitution') %><br />
        <%= link_to "Committee 2003 - 2005", page_path('pres2003') %><br>
        <%= link_to "Committee 2000 - 2003", page_path('sspgmatlpres') %><br><br>

        <font color="red"><b>Photo Archives</b></font><br>
        <%= link_to "Click Here", page_path('sspgmphotos') %><br><br>

        <font color="red"><b>Events</b></font><br>
        <%= link_to "2001 India Earthquake Relief Fund", page_path('relieffund') %><br>
        <%= link_to "2002 Easter", page_path('easter2002') %><br>
        <%= link_to "2004 Sundarkand Path", page_path('sundarkandphotos') %><p>
      </center>
    </div>

  </div>
</div>
