<div class="container mb-4 mt-4 ">
  <div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333;">
      <font color="#CC3333" size="3"><b>Features</b></font><br />
      <!-- Surnames -->
      <%= link_to "History of Surnames", page_path('surnames/index') %><br />
      <%= link_to "Kurdevi", page_path('sspgmkurdevi') %><br />
      <%= link_to "Family Trees", page_path('familytrees/home') %><br />

      <!-- Profiles -->
      <%= link_to "Sants & Bhaktas", page_path('sspgmsantsbhaktas') %><br />
      <%= link_to "Profiles of Our Elders", page_path('sspgmprofiles') %><br />
      <%= link_to "Rising Stars", page_path('risingstars') %><br />
      <%= link_to "Folksongs", page_path('folksongs/index') %><br /><br />

      <font color="#CC3333" size="3"><b>Articles</b></font><br />
      <%= link_to "The History of SSPGM", page_path('sspgmhistory3') %><br />
      <%= link_to "An Archaeological Study of the Kumbhar", page_path('stillwheel.html') %><br />
      <%= link_to "The Origin of the Gujarati Language", page_path('gujaratiorigin') %><br />
      <%= link_to "Our SSPGM Members' Global Journey", page_path('journey') %><br />
      <%= link_to "Shreebai Mataji's Story", page_path('sspgmshreebai2') %><br />

      <!-- Customs & Rituals -->
      <%= link_to "Raksha Bandhan", page_path('rakshabandhan') %><br />
      <%= link_to "Diwali", page_path('diwali') %><br />

      <!-- Legends -->
      <%= link_to "Legend of Hanuman", page_path('hanuman') %><br />
      <%= link_to "Legend of Ramapeer", page_path('ramapeerparcha') %><br />
      <%= link_to "Ramnavami Festival", page_path('ramnavami') %><br />
      <%= link_to "Shivratri Utsav", page_path('shivratri') %><br />
      <%= link_to "Stories of Krishna", page_path('krishna') %><br /><br />

      <font color="#CC3333" size="3"><b>Resources</b></font><br />
      <%= link_to "Answers of Why", page_path('answers/index') %><br />
      <%= link_to "Educational Trust Funds", page_path('trustfunds') %><br />
      <%= link_to "Glossary of Terms", page_path('sspgmglossary') %><br />
      <%= link_to "Publications", page_path('publications') %><br />
      <%= link_to "Voluntary Services", page_path('voluntary') %><br /><br />

      <% #= link_to "Testimonials", comments_path %>
    </div>

    <div class="col-8">
      <center>
        <%= link_to page_path('sspgmwelcome') do %>
          <font color="#66CCFF">Welcome to SSPGM.net! Read our welcome note</font>
        <% end -%>

        <br /><br />

        <%= link_to page_path('sspgmkurdevi') do %>
          <font color="#CC3333">See our updated Kurdevi page, with an image submitted by Devki Hitesh Ladwa, UK</font>
        <% end -%>

        <br /><br />

        <%= image_tag('shreebai2.jpg') %>
      </center>
    </div>

  </div>
</div>
