<div class="container mb-4 mt-4 ">
  <div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333;">
      <font color="#CC3333" size="3"><b>Features</b></font><br />
      <!-- Surnames -->
      <%= link_to "History of Surnames", page_path('surnames') %><br />
      <%= link_to "Family Trees", page_path('familytrees/home') %><br />

      <!-- Profiles -->
      <%= link_to "Sants & Bhaktas", page_path('sants-bhaktas') %><br />
      <%= link_to "Profiles of Our Elders", page_path('elders') %><br />
      <%= link_to "Rising Stars", page_path('rising-stars') %><br />
      <%= link_to "Folksongs", page_path('folksongs') %><br /><br />

      <font color="#CC3333" size="3"><b>Articles</b></font><br />
      <%= link_to "The History of SSPGM", page_path('articles/the-history-of-sspgm') %><br />
      <%= link_to "A Study About Kumbhars", page_path('articles/the-still-wheel') %><br />
      <%= link_to "The Origin of the Gujarati Language", page_path('articles/the-origin-of-the-gujarati-language') %><br />
      <%= link_to "Our SSPGM Members' Global Journey", page_path('articles/sspgm-members-global-journey') %><br />
      <%= link_to "Shreebai Mataji's Story", page_path('articles/the-story-of-shreebai-mataji') %><br />

      <!-- Customs & Rituals -->
      <%= link_to "Kurdevi", page_path('articles/kurdevi') %><br />
      <%= link_to "Raksha Bandhan", page_path('articles/the-meaning-of-raksha-bandhan') %><br />
      <%= link_to "Diwali", page_path('articles/the-meaning-of-diwali') %><br />

      <!-- Legends -->
      <%= link_to "Legend of Hanuman", page_path('articles/the-legend-of-shree-hanumanji') %><br />
      <%= link_to "Legend of Ramapeer", page_path('articles/ramapeer-parcha') %><br />
      <%= link_to "Ramnavami Festival", page_path('articles/ramnavami-festival') %><br />
      <%= link_to "Shivratri Utsav", page_path('articles/shivratri-utsav') %><br />
      <%= link_to "Stories of Krishna", page_path('articles/the-stories-of-shree-krishna') %><br /><br />

      <font color="#CC3333" size="3"><b>Resources</b></font><br />
      <%= link_to "Answers of Why", page_path('answers') %><br />
      <%= link_to "Educational Trust Funds", page_path('trust-funds') %><br />
      <%= link_to "Glossary of Terms", page_path('sspgmglossary') %><br />
      <%= link_to "Publications", page_path('publications') %><br />
      <%= link_to "Member Services", page_path('voluntary') %><br /><br />

      <% #= link_to "Testimonials", comments_path %>
    </div>

    <div class="col-8">
      <center>
        <%= link_to page_path('articles/welcome') do %>
          <font color="#33cccc">Welcome to SSPGM.net! Read our welcome note</font>
        <% end -%>

        <br /><br /><br />

        <%= image_tag('shreebai2.jpg') %>
      </center>
    </div>

  </div>
</div>
