<center>
<table border="1" cellspacing="0" cellpadding="9" width="900" bordercolor="#CC3333">
<tr>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td  align="center">
<%= render 'shared/india_left' %>
</td>
</tr>
</table>

</td>
<td width="50%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<p><h1><font color="#CC3333">Welcone to the SSPGM India Mandals</font></h1><br><p>
</td>
</tr>
</table>

</td>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<%= link_to root_url do %>
  <font color="yellow">Back to Main</font></a>
<% end -%><p>

<font color="red"><b>Tourism Information</b></font><br>
<%= link_to "Click Here", page_path('tourisminfoindia') %><p>

<font color="red"><b>Education Trust Funds</b></font><br>
<%= link_to "Lunai Mataji Education Trust Fund", page_path('educationtrust') %><br>
<%= link_to "Shree Sorathia Prajapati Vidyotejak Mandal", page_path('porbandarhistory2') %><br>
<%= link_to "Shribai Kanya Chhatralay Education Trust", page_path('educationtrustjunagadh') %><br>
<%= link_to "Shri Sorathia Prajapati Vidyamandal - Original", page_path('vvnwelcome') %><%= link_to "Updated", page_path('vvupdate') %><br>
<%= link_to "Smt. Amrutben Mandubhai Gohil Kanya Kelvani Trust", page_path('kelvanitrust') %>

</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
