<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333">

      <font color="red"><b>Features</b></font><br />
      <%= link_to "History", page_path('jamanagarhistory') %><br />
      <%= link_to "The Executive Committee", page_path('jam2') %>
</div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Jamnagar Mandal Executive Committee
      </h1></center>

      <center><%= image_tag('jamheader.jpg', height: "70", width: "419") %></center>

      <br>

      <%= link_to(image_tag('jampic2.jpg'), image_path('jampic2.jpg')) %><br />President - Jivan Bhimji Buhecha<p>
      <%= link_to(image_tag('jampic3.jpg'), image_path('jampic3.jpg')) %><br />Secretary - Bharat Gopaldash  Chavda<p>
      <%= link_to(image_tag('jampic4.jpg'), image_path('jampic4.jpg')) %><br />Member - Vanraj Nanji Pankhaniya<p>
      <%= link_to(image_tag('jampic5.jpg'), image_path('jampic5.jpg')) %><br />Member - Gokal Ukabhai Jethva<p>
      <%= link_to(image_tag('jampic6.jpg'), image_path('jampic6.jpg')) %><br />Member - Jitesh  Natahabhai  Gadhiya<p>
      <%= link_to(image_tag('jampic7.jpg'), image_path('jampic7.jpg')) %><br />Member - Shashikant Ravji Pankhaniya<p>
      <%= link_to(image_tag('jampic8.jpg'), image_path('jampic8.jpg')) %><br />Member - Amrut Nathalal  Gohel<p>
      <%= link_to(image_tag('jampic9.jpg'), image_path('jampic9.jpg')) %><br />Member - Kanji Khimji  Pankhaniya<p>
      <%= link_to(image_tag('jampic10.jpg'), image_path('jampic10.jpg')) %><br />Member - Keshavji  Khimji Visavadiya<p>
      <%= link_to(image_tag('jampic11.jpg'), image_path('jampic11.jpg')) %><br />Member - Jagdish  Laxman  Ravat<p>
      <%= link_to(image_tag('jampic12.jpg'), image_path('jampic12.jpg')) %><br />Member - Manshukh  Jivan   Gadher<p>

      <BR>

      <br><br>
      Last Updated 06/08/02

    </center>

    </div>

  </div>
</div>
