<h1 class="page-header">SSPGM Mandals</h1>

<br /><br />

<div class="row">

    <div class="col-6">
        <font color="#66CCFF"><b>India</b></font><br />
        <%= link_to "Baroda", page_path('baroda') %><br />
        <%= link_to "Jamnagar", page_path('jamnagar') %><br />
        <%= link_to "Mumbai", page_path('mumbai') %><br />
        <%= link_to "Porbandar", page_path('porbandar') %><br />
        <%= link_to "Ramnagar", page_path('ramnagar') %><br />
        <%= link_to "Talala", page_path('talala') %><br />
        <%= link_to "Valabh Vidyanagar", page_path('valabhvidyanagar') %><br />
        <%= link_to "All India Mandals", page_path('india') %><br /><br />

        <font color="#66CCFF"><b>Kenya</b></font><br />
        <%= link_to "Nairobi", page_path('nairobi') %><br /><br />
    </div>
    <div class="col-6">
        <font color="#66CCFF"><b>United Kingdom</b></font><br />
        <%= link_to "Bolton", page_path('ukbolton') %><br />
        <%= link_to "East London", page_path('sspgmeastlondon') %><br />
        <%= link_to "Leicester", page_path('sspgmleicester') %><br />
        <%= link_to "North London", page_path('sspgmnl') %><br />
        <%= link_to "All United Kingdom Mandals", page_path('sspgmuk') %><br /><br />

        <font color="#66CCFF"><b>United States</b></font><br />
        <%= link_to "Atlanta", page_path('sspgmatlanta') %><br /><br />
    </div>
</div>