<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333;">

        <font color="red"><b>Features</b></font><br />
        <%= link_to "Introduction", page_path('mumbaiintro') %><br />
        <%= link_to "The Executive Committee", page_path('mumbaiexec') %><br />
        <%= link_to "Lunai Mataji Education Trust Fund", page_path('educationtrust') %><br /><br />

        <%= render 'shared/india_right' %>

    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Mumbai Mandal Executive Committee
      </h1></center>

      <%= link_to image_tag('sjethwa', height: "150", width: "125"), image_path('sjethwa') %>
      <p>
      <%= link_to image_tag('pvisawadia', height: "150", width: "125"), image_path('pvisawadia') %>
      <%= link_to image_tag('vprajapati', height: "150", width: "125"), image_path('vprajapati') %>
      <p>
      Last Updated 7/18/03

    </div>

  </div>
</div>
