<center>
<table width="700" height="600" border="1" cellspacing="0" cellpadding="5" bordercolorlight="#CC3333" bordercolordark="#CC3333">
<tr>

<td width="70%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080">
<tr valign="top">
<td>
<center>
<p>
<font color="red" size="4">
<b>
Welcome to the Mumbai Executive Committee Page
</b>
</font>
<p><br>
<%= link_to image_tag('sjethwa', height: "150", width: "125"), image_path('sjethwa') %>
<p>
<%= link_to image_tag('pvisawadia', height: "150", width: "125"), image_path('pvisawadia') %>
<%= link_to image_tag('vprajapati', height: "150", width: "125"), image_path('vprajapati') %>
<p>
Last Updated 7/18/03
</center>
</td>
</tr>
</table>
</td>
<!-- Links-->
<td width="30%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080">
<tr valign="top">
<td>
<center>
<br>
<%= link_to root_url do %>
  <font color="yellow" size="3">
    Back to Main
  </font>
<% end -%>
<p>
<%= render 'shared/india_left' %>
</center>
</td>
</tr>
<!-- End of Links-->
</table>
</td>

</tr>
</table>
</center>
