<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333">
        <font color="red"><b>Features</b></font><br>
        <%= link_to "About the Mandal", page_path('nairobi_about') %><br>
        <%= link_to "Mandal History", page_path('nairobihistory') %><br>
        <%= link_to "Photo Gallery", page_path('nairobi_photos') %><br>
        <%= link_to "Temple Project", page_path('nairobi_temple') %><br><br>

      </div>

    <div class="col-8">
      <center>
        <h1 class="page-header">SSPGM Nairobi Mandal</h1>

        <font color="#66CCFF"><i><b>Establishment of Shree Sorathia Prajapati Gnati Mandal, Nairobi</b></i></font>
        <br />
        <%= link_to image_tag('nairobi1.jpg', width: "180", height: "145"), image_path('nairobi1.jpg') %>
        <br />

        <font color="red"><i>
        August 2nd, 1930
        </i></font>

        <br /><br />

        <font color="#66CCFF"><b><i>
        Establishment of Shree Sorathia Prajapati Gnati Mandal - Committee Members, Nairobi
        </i></b></font>
        <br>
        <%= link_to image_tag('nairobi2.jpg', width: "180", height: "145"), image_path('nairobi2.jpg') %>
        <br>
        <font color="red"><i>1973</i></font>
      </center>
    </div>

  </div>
</div>
