<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333">
      <font color="red"><b>Features</b></font><br>
      <%= link_to "About the Mandal", page_path('nairobi_about') %><br>
      <%= link_to "Mandal History", page_path('nairobihistory') %><br>
      <%= link_to "Photo Gallery", page_path('nairobi_photos') %><br>
      <%= link_to "Temple Project", page_path('nairobi_temple') %><br><br>

  </div>

    <div class="col-8">

      <center><h1 class="page-header">Nairobi Mandal Photo Gallery</h1></center>

      <font color="#66CCFF"><b>2013 Diwali Sneh Milan</b></font><br>
      <%= link_to image_tag('nairobi/2013_diwali1.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali1.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali2.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali2.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali3.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali3.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali4.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali4.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali5.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali5.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali6.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali6.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali7.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali7.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali8.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali8.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali9.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali9.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali10.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali10.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali11.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali11.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali12.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali12.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali13.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali13.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali14.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali14.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali15.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali15.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali16.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali16.jpg') %>
      <%= link_to image_tag('nairobi/2013_diwali17.jpg', height: "100", width: "135"), image_path('nairobi/2013_diwali17.jpg') %>

      <br><br>

      <font color="#66CCFF"><b>Cultural Programs</b></font><br>
      <%= link_to image_tag('nairobi/cult_prog1.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog1.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog2.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog2.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog3.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog3.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog4.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog4.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog5.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog5.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog6.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog6.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog7.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog7.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog8.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog8.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog9.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog9.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog10.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog10.jpg') %>
      <%= link_to image_tag('nairobi/cult_prog11.jpg', height: "100", width: "135"), image_path('nairobi/cult_prog11.jpg') %>


    </div>

  </div>
</div>
