<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">
      <center>






        <%= image_tag 'pankhania_2.jpg', height: "95", width: "80" %>
        </center>
        <br>
        Jai Shree Bai Mataji<p>

        It gives me great pleasure to thank all the members of Shree Sorathia
        Prajapati Gnati Mandal of Atlanta for electing me as the President and
        giving me this opportunity to serve our community.  Since moving to the
        United States in 1994, I have had the opportunity to serve our
        community in
        various postions in the executive committee.  However, this postion is
        a
        special one.  Special, not because it is a prestigious one but special
        because it is challenging, demanding, and delicate.  It offers me an
        opportunity to promote peace and harmony, and preserve our culture and
        religion within our community.<p>

        Through the SSPGM website, I would like to take this opportunity to
        convey
        my regards and best wishes to all the members of Shree Sorathia
        Prajapati
        Gnati Mandals world wide.<p>

        <a href="mailto:ravi_pankhania@hotmail.com">Ravji Parbat Pankhania</a><br>
        President SSPGM, Atlanta, USA




      </center>
    </div>

    <div class="col-4">
      <center>
        <font color="red"><b>Features</b></font><br>
        <%= link_to "Mandal History", page_path('atlantawelcome') %><br />
        <%= link_to "Constitution", page_path('usconstitution') %><br />
        <%= link_to "Committee 2003 - 2005", page_path('pres2003') %><br>
        <%= link_to "Committee 2000 - 2003", page_path('sspgmatlpres') %><br><br>

        <font color="red"><b>Photo Archives</b></font><br>
        <%= link_to "Click Here", page_path('sspgmphotos') %><br><br>

        <font color="red"><b>Events</b></font><br>
        <%= link_to "2001 India Earthquake Relief Fund", page_path('relieffund') %><br>
        <%= link_to "2002 Easter", page_path('easter2002') %><br>
        <%= link_to "2004 Sundarkand Path", page_path('sundarkandphotos') %><p>
      </center>
    </div>

  </div>
</div>
