<html>
<head>

<title>Welcome to SSPGM.net - Surnames</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {font-weight:bold;color: white;}
</style>
</head>
<body bgcolor="black"><p><center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="700" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<center><h1><font color="#CC3333">
Welcome to the History of the Surnames
</font></h1></center>
 <p>
<font color="#66CCFF"><b>
9 Current Surname Listings
</b></font>
<br>
<%= link_to "Fatania", page_path('fatania') %>
<br>
<%= link_to "Bhalsod", page_path('bhalsod') %>
<br>
<%= link_to "Bharadwa", page_path('bharadwa') %>
<br>
<%= link_to "Devalia", page_path('devalia') %>
<br>
<%= link_to "Dhokia", page_path('dhokia') %>
<br>
<%= link_to "Ghedia", page_path('ghedia') %>
<br>
<%= link_to "Pankhania", page_path('pankhania') %>
<br>
<%= link_to "Vadukul", page_path('vadukul') %>
<br>
<%= link_to "Vara", page_path('vara') %>
<br>
<p>

<table border="0" width="100%" cellpadding="9">
<tr valign="top"><td>
Bharadaj
</a><br>
Buhecha
</a>
<p>
Chandegra
</a><br>
Chavda
</a><br>
Chhaya
</a><br>
Chitroda
</a><br>
Chohan
</a>
<p>
Dabhi
</a><br>
Dodia
</a>
<p>
Gadher
</a><br>
Gadhia
</a><br>
Gadhvana
</a><br>
Girnara
</a><br>
Gohil
</a><br>
Gola
</a>

</td>
<td>

Jagatia
</a><br>
Jethwa
</a><br>
Jogia
</a>
<p>

Kamalia
</a><br>
Kansara
</a><br>
Kholia
</a><br>
Koria
</a><br>
Kukadia
</a>
<p>

Ladva
</a>
<p>

Majevadia
</a><br>
Mandora
</a><br>
Mavadia
</a><br>
Maru
</a><p>

Nena
</a>

</td><td>

Parmar
</a><br>
Pithia
</a><br>
Poria
</a>
<p>

Rathod
</a><br>
Ravat
</a>
<p>

Savania
</a><br>
Shingadia
</a><br>
Solanki
</a>
<p>

Taank
</a>
<p>

Vadher
</a><br>
Varu
</a><br>
Vegad
</a><br>
Visavadia
</a>
<p>

Yadav
</a>

</td>
</tr>
</table>
<p>
<font color="red"><b>
If you would like to contribute information to any of the surnames listed, email us at
</b></font>
<a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<script language="javascript" src="http://www.sspgm.net/right.js"></script>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
</body>
</html>
