<h1 class="page-header">Folksongs</h1>

Following Bhajans/Dhuns Submitted by Dhiru Zina Pankhania, Atlanta, GA USA<br><br></font>
                <a id="top"></a>

                <font color="red"><b>Shreebai Mataji Folksongs</b></font><br />
                <%= link_to "Shreebai Mataji Ni Prathna (English)", page_path('shreebhaimataji2') %><br />
                <%= link_to "Shreebai Mataji Ni Prathna (Gujarati)", page_path('shreebhaimataji1') %><br />
                <%= link_to "Shreebai Mataji Ni Arti (English)", page_path('shreebhaimataji3') %><br />
                <%= link_to "Shreebai Mataji No Thal (English)", page_path('shreebhaimataji4') %><br /><br />

                <font color="red"><b>Ganapati Bhajans</b></font><br />
                <%= link_to "Partham pehelaa samariye re swaami tamane sunDaaraa (English)", anchor: 'partham' %><br />
                <%= link_to "Gaa ee ye ganapati jagavandan (English)", anchor: "gaaeeye" %><br />
                <%= link_to "Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi (English)", anchor: "pratham" %><br /><br />

                <font color="red"><b>Hanumaan Bhajans</b></font><br />
                <%= link_to "Hanumaan Chalisa (English)", anchor: "hanumaan" %><br />
                <%= link_to "Mangala murati maaruta nandana (English)", anchor: "mangala" %><br />
                <%= link_to "Chale hanumana yaha aaye (English)", anchor: "chalehanu" %><br /><br />

                <font color="red"><b>Raam Bhajans</b></font><br />
                <%= link_to "Shri raamchandra kripaalu (English)", anchor: "shriraam" %><br /><br />

                <font color="red"><b>Thaar</b></font><br />
                <%= link_to "Jamavaa aavone nandalaala re (English)", anchor: "jamavaa" %><br />
                <%= link_to "Tame bhojan karavaa aavone preme paronaa (English)", anchor: "tamebhojan" %><br /><br />

                <font color="red"><b>Aarati</b></font><br />
                <%= link_to "Aanand mangal karu aarati (English)", anchor: "aanandmangal" %><br />
                <%= link_to "Om jaya jagadiisha hare (English)", anchor: "omjayajagadiisha" %><br /><br />

                <font color="red"><b>Kapoor Aarati</b></font><br />
                <%= link_to "Kapoor gauram karunaa vataaram (English)", anchor: "kapoor" %><br /><br />

                <font color="red"><b>Abh sop diyaa</b></font><br />
                <%= link_to "Abh sop diyaa is jivan kaa (English)", anchor: "abhsopdiyaa" %><br /><br />

                <font color="red"><b>Bhajans, Geets and Dhuns</b></font><br />
                <%= link_to "Bhakti karata chute mara prana (English)", anchor: "bhakti" %><br />
                <%= link_to "Mukunda maadhava govinda bola (English)", anchor: "mukunda" %><br />
                <%= link_to "Tumhi ho maata pitaa tumhi ho (English)", anchor: "tumhiho" %><br />
                <%= link_to "Tari ek ek par jaaye lakhni (English)", anchor: "tariekek" %><br />
                <%= link_to "Hey sitaaraam tanaa satsangmaa (English)", anchor: "heysitaaraam" %><br />
                <%= link_to "Hari bola, hari bola, hari hari bola (English)", anchor: "haribola" %><br />
                <%= link_to "Raghupati raaghava raaja raam (English)", anchor: "raghupati" %><br />
                <%= link_to "Aai malik tere bande hum (English)", anchor: "aaimalik" %><br />
                <%= link_to "Prabhu mane shak padyo man may (English)", anchor: "prabhu" %><br />
                <%= link_to "Jesal kari le vichaar (English)", anchor: "jesalkari" %><br />
                <%= link_to "Prabhu tara charanoma amane tu leje (English)", anchor: "prabhuta" %><br />
                <%= link_to "Jamunaa jaRamaa kesar ghori (English)", anchor: "jamunaa" %><br />
                <%= link_to "Sukhake saba saathii dukhamen na koii (English)", anchor: "sukhake" %><br />
                <%= link_to "Dhuni re dhakhaavi beli ame taaraa naamani (English)", anchor: "dhunire" %><br />
                <%= link_to "Paayo jii mainne raam ratan dhan paayo (English)", anchor: "paayojii" %><br />
                <%= link_to "Siitaa raam siitaa raam siitaaraam kahiye (English)", anchor: "siitaa" %><br />
                <%= link_to "Banavaarii re (English)", anchor: "banavaari" %><br />
                <%= link_to "Bhagavaan merii naiyaa us paar lagaa denaa (English)", anchor: "bhagavaan" %><br />
                <%= link_to "Mailii chaadar odh ke kaise dvaar tumhaare aauu.N (English)", anchor: "mailii" %><br />
                <%= link_to "Hamako manakii shakti denaa,  mana vijaya kare.n (English)", anchor: "hamako" %><br />
                <%= link_to "Jyota se jyota jagaate chalo prema kii ga.ngaa bahaate chalo (English)", anchor: "jyotase" %><br />
                <%= link_to "Allaah tero naam,  Ishvar tero naam (English)", anchor: "allaah" %><br />
                <%= link_to "Man tadapat hari darasan ko aaj (English)", anchor: "mantadapat" %><br />
                <%= link_to "VaishNav jan to tene kahiye je (English)", anchor: "vaishnav" %><br />
                <%= link_to "Aisi lagi lagan, meera ho gai magan (English)", anchor: "aisilagi" %><br />
                <%= link_to "Rang de chunariya, rang de chunariya (English)", anchor: "rangde" %><br />
                <%= link_to "Tan ke tamboore mein (English)", anchor: "tanke" %><br />
                <%= link_to "Ita naa to karnaa swaami, jab praan tana se nikale (English)", anchor: "itanaato" %><br />
                <%= link_to "Pi.njare ke panchhii re (English)", anchor: "pinjare" %><br />

              	<p>

                <hr>
                <font color="#000fff" size="4">Ganapati Bhajans</font><p>
                <a id="partham"></a><font color="red" size="3"><b>Partham pehelaa samariye re swaami tamane sunDaaraa</b></font><p>
                Partham pehelaa samariye re swaami tamane sundaaraa<br>
                Riddhi siddhi na daataar devtaa (2) mer karo no mahaaraaj ji<p>

                He maata re kahiye (2) paarvati re swaami tamane sundaaraa<br>
                Pita re shankar dev devtaa (2) mer karo no mahaaraaj ji<p>

                He ghee ne dudh ni (2) sevaa chare re swaami tamane sunDaaraa<br>
                Garaa maa fulaRaano haar devta (2) mer karo no mahaaraaj ji<p>

                He ravat ranshee ni (2) vinnati re swaami tamane sundaaraa<br>
                Vardam kar jo sai devtaa (2) mer karo no mahaaraaj ji
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />


                <a id="gaaeeye"></a><font color="red" size="3"><b>Gaa ee ye ganapati jagavandan</b></font><p>
                Gaa ee ye ganapati jagavandan,<br>
                Shankar suvan bhavaani nandan<br>
                Siddhi sadan gajavadan vinaayak,<br>
                Krupaa sindhu sundar sabbhlayak<br>
                Modak priya-mrudu mangal daata,<br>
                Viddha varidhi buddhi vidhaataa<br>
                Maangat tulsidaas kar jhore,<br>
                Basahiin raam siya maanas more
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <a id="pratham"></a><font color="red" size="3"><b>Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi</b></font><p>
                Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi<br>
                Bije samaru shaarada maataa, vaani nirmaR aapi (2)<br>
                Trije samaru sataguru devaa, paavan kidhaa paapi (2)<br>
                Chhothe samaru maata pitaane, sad-buddhi saari aapi (2)<br>
                Pancham punnit parmeshvar ne, maanav padvi aapi (2)<br>
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <font color="#000fff" size="4">Hanumaan Bhajans</font><p>
                <p><br>

                <a id="mangala"></a><font color="red" size="3"><b>Mangala Murati Maaruta Nandana</b></font><p>
                Mangala murati maaruta nandana, sakala amangala muula nikandan<br>
                Pavana tanaya santana hita kaari, hraday biraajata avadha vihaari<br>
                Maat pitaa guru ganapati saarad, shivaa sameTa shambhu shuka naarada<br>
                Charana kamala bandhaavu sab kaahu, dehu rama pada nehu nibhaahu<br>
                Jai jai jai hanuman gosai, krupa karo guru dev ki nayi<br>
                Andhavu raama lakhana vaidehi, yaha tulsike param senehi
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <a id="chalehanu"></a><font color="red" size="3"><b>Chale hanuman yaha aaye</b></font><p>
                Chale hanumana yaha aaye, shree raamji dhoona machaaye(2)<br>
                Dhoona machaayi aise dhoona machaayi(2)<p>

                Sita raama naama dhoona aisi machaaiye(2)<br>
                Sunakara aaye raghurai, shree raamji dhoona machaaye..Chale<p>

                Bhakta janon ka ghara paavana karva(2)<br>
                Aavo aavo ne raghurai, shree raamji dhoon machaaye..Chale<p>

                Gangaji aaye jamunaaji aaye(2)<br>
                Triveni sangama laaye, shree raamji dhoona machaaye..Chale<p>

                Daas jano ki ehi vinanti(2)<br>
                Charana kamala balihaari, shree raamji dhoona machaaye..Chale
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <font color="#000fff" size="4">Raam Bhajans</font><p>
                <a id="shriraam"></a><font color="red" size="3"><b>Shri raamchandra kripaalu</b></font><p>
                Shri raamchandra kripaalu bhajuman haran bhavbhaya daarunam<br>
                Navakanja lochan kanjamukh karkanj pada-kan-jaarunam<p>

                Kandarpa aganit amit chhabi navanil niraj sundaram<br>
                Patpit maanahun tadit ruchhi-suchhi navnii janaka sutaavaram<p>

                Sir mukut kundal tilak chhaaru udaar ang vibbhushanam<br>
                Aajaanubbhuj sharachhaa-padhar sangraam-jit khar-dushanam<p>

                Bhaja din-bandhu dinesh, daanav daitya-vansha nikandanam<br>
                Raghunand aanand kand, koshala-chand dasharath nandanam<p>

                Iti vadati tulsidaas, shankar shesh muniman ranjanam<br>
                Mam hradaya-kanj nivaas kuru, kaamaadi khaldal ganjanam<p>
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <font color="#000fff" size="4">Thaar</font><p>
                <a id="jamavaa"></a><font color="red" size="3"><b>Jamavaa aavone nandalaala re</b></font><p>
                Jamavaa aavone nandalaala re, maari premani thaari<br>
                Me to maare haathe banaavi, praan jeevan tam kaaja re-mari..<p>

                Bhaat re bhaatanaa meva mithaayi, vidh vidhana pakvaan re-mari..<br>
                Jaari bhari me to jaR jamanaa ni, aachman karone maharaj re-mari..<br>
                Laving sopaarine panana bidla, mukhvaas karone maharaj re-mari..<br>
                Maadhavadaas na swaami shaamaRiyaa, charan kamal balihaari re-mari..
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <a id="tamebhojan"></a><font color="red" size="3"><b>Tame bhojan karavaa aavone preme paronaa</b></font><p>Tame bhojan karavaa aavone preme paronaa, saathe baraa bari layee aavone nanda salunaa<p>

                Vaalaa me to rasoi banaavi sarve taaji, ema vidur gharani bhaaji re-preme..<br>
                Vaalaa me to siro re shekiyo chaano maano, ema khichado karmaano re-preme..<br>
                Vaalaa maraa adiya tadiya ne tindora, eva savri bai na bora re-preme..<br>
                Vaalaa hu to jar re jamunaa nu bhari lavi jari, tame aachman karone vanmaari re-preme..<br>
                Vaalaa hu to panana birlaa laaviu vaari, tame mukhvaas karone moraari re-preme..<br>
                Vaalaa maaraa laving sopaari ne elachhi, tame aarogo vanmaari re-preme..<br>
                Vaalaa maaraa narsi mehata swaami shaamariyo, mane tari ler laagi re-preme..
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <font color="#000fff" size="4">Aarati</font><p>
                <a id="aanandmangal"></a><font color="red" size="3"><b>Aanand mangal karu aarati</b></font><p>Aanand mangal karu aarati, hari guru santan ki sevaa<br>
                Prem dhari mandir padharaavu, sundar sukhadaa levaa<p>

                Ratna sinhaasan aap biraajo, devaa dhi cho devaa<br>
                Maare aangane tulsi no kiyaaro, shaaligraamani sevaa<br>
                Adasat tirath guruji ne charane, gangaa jamanaa revaa<br>
                Kahe pritam ene orakhe indhaane, hari naa jan hari jevaa
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <a id="omjayajagadiisha"></a><font color="red" size="3"><b>Om jaya jagadiisha hare</b></font><p>
                Om jaya jagadiisha hare,  svaamii jaya jagadiisha hare<br>
                Bhakta janon ke sankat,  kshana men duur kare<p>

                Jo dhyaave phala paave,  dukh binase mana kaa<br>
                Sukha sampati ghara aave,  kashta mite tana kaa<p>

                Maata pitaa tuma mere,  sharana gahuun main kisakii<br>
                Tuma bina aura na duujaa,  aasa karuun main jisakii<p>

                Tuma puurana paramaatmaa,  tuma antayaarmii<br>
                Paarabrahma parameshvara,  tuma saba ke svaamii<p>

                Tuma karunaa ke saagar,  tuma paalanakartaa<br>
                Main sevaka tuma svaamii,  kripaa karo bhartaa<p>

                Tuma ho eka agochara,  sabake praanapati<br>
                Kisa vidhi miluun dayaamaya,  tumako main kumati<p>

                Diinabandhu dukhahartaa,  tuma rakshaka mere<br>
                Karunaa hasta badhaao,  dvaara padaa tere<p>

                Vishaya vikaar mitaao,  paapa haro devaa<br>
                Shraddhaa bhakti badhaao,  santana kii sevaa
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />


                <font color="#000fff" size="4">Kapoor Aarati</font><p>
                <a id="kapoor"></a><font color="red" size="3"><b>Kapoor gauram karunaa vataaram</b></font><p>
                Kapoor gauram karunaa vataaram, sansaar saaram bhujagendra haaram<br>
                Sadaa vasantam hradayaa ravindre, bhavam bhavaani sahitam namaami<p>

                Mangalam bhagavaan vishnu, mangalam garuud devaj<br>
                Mangalam pudrikaasho, mangalaa-yaatano hari<br>
                Sarve mangalam mangalye, shive sarvaarth saadhike<br>
                Sharanye gyambake gauri, narayan namostute (3)<p>

                Tvameva maataa chh pitaa tvameva<br>
                Tvameva bandhushva sakhaa tvameva<br>
                Tvameva viddhaa dravinam tvameva<br>
                Tvameva sarvam mam deva deva
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <font color="#000fff" size="4">Abh Sop Diyaa</font><p>
                <a id="abhsopdiyaa"></a><font color="red" size="3"><b>Abh sop diyaa is jivan kaa</b></font><p>
                Abh sop diyaa is jivan kaa, sab bhaar tumhaare haatho mein(2)<br>
                He jeet tumhaare haatho mein, aur haar tumhaare haatho mein(2)<br>
                Meraa nischay bas ek yahi, ik baar tumhe paa jaavun me(2)<br>
                Arpan kar du duniyaa bhar kaa, sab pyaar tumhaare haatho mein(2)<br>
                Jo jagme rahu to aise rahu, jyo jal me kamal kaa phool rahe(2)<br>
                Mere-sab gun dosh samarpit ho, kartar tumhaare haatho mein(2)<br>
                Yadi maanav kaa mujhe janma mile, to tav charonka pujaari banu(2)<br>
                Is pujak ki ik ik rag kaa, ho taar tumhaare haathoo mein(2)<br>
                Jab jab sansaar kaa kaidi banu, Nishkaam bhaav se karma karu(2)<br>
                Phir ant samaye me praan taju, Niraakar tumhaare hathoo mein, saakaar tumhaare haatho me<br>
                Mujme tujme bas bhed yahi, me nar hu tum naaraayan ho(2)<br>
                Me hu sansaar ke haathoo mein, sansaar tumhaare haathoo mein(2)<br>
                Abh sop diyaa is jivan ka, sab bhaar tumhaare haatho mein(2)
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <font color="#000fff" size="4">Bhajans, Geets and Dhuns</font><p>
                <a id="bhakti"></a><font color="red" size="3"><b>Bhakti karata chute mara prana</b></font><p>
                Bhakti karata chute mara prana,	prabhuji evu maangu re..(2)<br>
                Rahe janamo janama taro saath, prabhuji evu maangu re<p>

                Taru mukhdu manohara joya karu, raat divese bhajana taru gaya karu<br>
                Swaase swaase ratu taru naama, prabhuji evu maangu re<p>

                Mari aasha niraasha karasho nahi, mara avaguna haaya ma dharsho nahi<br>
                Rahe aanta samaya taru dhyaana, prabhuji evu maangu re<p>

                Mara tapne paapa samavi lejo, tara bara ne daas banavi lejo<br>
                Dejo aavine darshan na daan, prabhuji evu maangu re<p>

                Mara antarni aarje urma dhari, dai darshan pavan karjo hari<br>
                Amne utaarjo bhava para, prabhuji evu maangu re
                <p><br>

                <hr /><a href="#top">Back to top</a><hr />

                <a id="mukunda"></a><font color="red" size="3"><b>Mukunda maadhava govinda bola</b></font><p>
                Mukunda maadhava govinda bola, keshav maadhav hari hari bola..(2)<br>
                Bola hari bola bola hari bola, mukunda maadhava govinda bola<p>

                Krishna krishna bola, krishna krishna bola<br>
                Raama raama bola, raama raama bola..mukunda maadhava..<p>

                Shiva shiva bola, shiva shiva bola<br>
                Narayana bola, narayana bola..mukunda maadhava..<p>

                Sitaa raama bola, sitaa raama bola<br>
                Raadhe shyaama bola, raadhe shyaam bol..mukunda maadhava..

                <hr /><a href="#top">Back to top</a><hr />

                <a id="tumhiho"></a><font color="red" size="3"><b>Tumhi ho maata pitaa tumhi ho</b></font><p>

                Tumhi ho maata pitaa tumhi ho, tumhi ho bandhu sakhaa tumhi ho(2)<p>

                Tumhi ho saathi tumhi sahaare, koi naa apna sivaa tumhaare,<br>
                Tumhi ho naiyaa, tumhi khivaiyaa, tumhi ho bandhu sakhaa tumhi ho..Tumhi..<p>

                Jo khil sake naa vo fula hama hay, tumhaare charano ki dhula hum hay<br>
                Dayaa ki dhrashthi sadaa hi rakhanaaa, tumhi ho bandhu sakha tumhi ho..Tumhi..

                <hr /><a href="#top">Back to top</a><hr />

                <a id="tariekek"></a><font color="red" size="3"><b>Tari ek ek par jaaye lakhni</b></font><p>

                Tari ek ek par jaaye lakhni, tu to maaaa le japile raadhe shyaam ni(2)<p>

                Khaali avyaa khaali jaaso(2) saathe su lavyaa lai jaso(2)<br>
                Jivana dhanye re banaavo bhakti bhaavthi tu to maaraa le<p>

                Jhuthaa jag naa jhutthaa khel(2) manva maaru taaru mel<br>
                Tu to choddi de ne chintaa akhaa gaamni	tu to maaRaa le<p>

                Vahallaa shri nathji bhagwanaa(2) maaraa chitadaana chora<br>
                Me to chabbi re ditthi che shri naathni	tu to maaraa le<p>

                Bhakti khaanda kheri dara(2) tethi uttarsho bhav para(2)<br>
                Je ni laagi re lagan bhagvaan maa, te to sukhe thi jaye che vaikuth dhaamama<p>

                <hr /><a href="#top">Back to top</a><hr />

                <a id="heysitaaraam"></a><font color="red" size="3"><b>Hey sitaaraam tanaa satsangmaa</b></font><p>

                Hey sitaaraam tanaa satsangamaa, raadhe shyaam tanaa tu rangamaa (2)<br>
                Tu rangaai jaa ne rangamaa (2)<p>

                Aaje bhajasu kaale bhajasu, bhajasu sitaaraam, kyaare bhajasu hari nu naam (2)<br>
                Swaas khutase, naadi tutase(2)<br>
                Praan nahi rahe tan maa, tu rangaai jaa ne rangamaa (2)<p>

                Jiv janto, jaaju jiv su, maaru che aa tamaam, pehelaa amar kori lava naam (2)<br>
                Tedu aavse jamanu jiyaare (2)<br>
                Jaavu padase sang maa, tu rangaai jaa ne rangama (2)<p>

                Gadpan avase tyaare bhajasu, pehelaa gharanaa kaam, pache farsu tirath dhaam (2)<br>
                Aatam ek din udi jaase (2) (taaru)<br>
                Taaru sharir rese palangamaa, tu rangaai jaa ne rangamaa (2)<p>

                Batris jaatnaa bhojan jam tu, bheri karine, bhaag emaa kyaathi saambhare raam (2)<br>
                Prabhu padyo che kyaa rastaamaa (2)<br>
                Sau jan kahetaa vyangmaa, tu rangai jaa ne rangamaa (2)

                <hr /><a href="#top">Back to top</a><hr />

                <a id="haribola"></a><font color="red" size="3"><b>Hari bola, hari bola, hari hari bola</b></font><p>

                Hari bola, hari bola, hari hari bola, mukunda maadhava keshava bola (2)<br>
                Hare krishna, hare krishna, hare krishna bola, hare raama, hare raama hare raama bola (2)<br>
                Raadhe shyaama, raadhe shyaama, raadhe shyaama bola, sitaaraama, sitaaraama, sitaaraama bol<br>
                Sacchidanada, sacchidanada, sacchidanada bola, naaraayan, naaraayan, naaraayan bola (2) hari bol<br>


                <hr /><a href="#top">Back to top</a><hr />
                <a id="raghupati"></a><font color="red" size="3"><b>Raghupati raaghava raaja raam</b></font><p>

                Raghupati raaghava raaja raam, patita paavana sitaa raam (2)<br>
                Sitaaraama, sitaaraama, bhaja pyaare tu sitaaraama (2)raghupati<br>
                Ishwar allaah tere naam sabha ko sanmati de bhagawaan (2)raghupati<br>
                Bhajale, bhajale, sitaaraam, mangala murati sundar shyaam (2)raghupati

                <hr /><a href="#top">Back to top</a><hr />


                <a id="aaimalik"></a><font color="red" size="3"><b>Aai malik tere bande hum</b></font><p>
                O Malik (2)<br>
                Aai malik tere bande hum, aise ho hamaare karam,<br>
                Nekii par chalen, aur badii se talen,<br>
                Taake hansate huve nikale dum (2)<p>
                Jab zulamon kaa ho saamanaa, tab tu hii hamen thaamanaa (2)<br>
                Vo buraai karen, hum bhalaai bharen<br>
                Nahiin badale kii ho kaamanaa<br>
                Badh uthe pyaar kaa har kadam<br>
                Aur mite bair kaa ye bharam<br>
                Nekii par chalen, aur badii se talen, taake hansate huve nikale dam..ai malik<p>
                Badaa kamazor hai aadamii, abhi laakhon hain isamen kamiin (2)<br>
                Par tuu jo khadaa, he dayaaluu badaa<br>
                Terii kripaa se dhartii thamii<br>
                Diyaa tuune hamen jab janam<br>
                Tuu hii jhelegaa ham sabake gam<br>
                Nekii par chalen, aur badii se talen, taake hansate huve nikale dam..ai malik<p>
                Ye andheraa ghanaa chhaa rahaa, tera insaan ghabaraa rahaa (2)<br>
                Ho rahaa bekhabar, kuch na aataa nazar<br>
                Sukh ka suraj chhipaa jaa rahaa<br>
                Hai teri roshanii men vo dam<br>
                Jo amaavas ko kar de puunam<br>
                Nekii par chalen, aur badii se talen, taake hansate huve nikale dam..ai malik

                <hr /><a href="#">Back</a><hr />

                <a id="prabhu"></a><font color="red" size="3"><b>Prabhu mane shak padyo man may</b></font><p>
                Prabhu mane shak padyo man may, pagamane dhova dyo raghurai (2)<br>
                Raam lakshman jankiji, tir ganga ne jay<br>
                Navadi magu nir  utarava, guru bolya gam khay..pagmane<p>
                Raj tamari kamangiri, nav nari ban jay<br>
                Toto amari rank janni, ajinika tali jay..pagmane<p>
                Joi chaturai bhil janni, janaki man muskay<br>
                Abhan kevu yad rakhe, bhanela bhuli jay..pagmane<p>
                Din dayalu a jagat ma, garaj kevi ganay<br>
                Ap jeva ne ubhari rakhi pag pakhali jay..pagmane<p>
                Navadi ma pag addhar rakhi, ram man harkhay<br>
                Par uttari puchhyu rame shure lesho utarai..pagmane<p>
                Kharvo te kadi leto nathi, kharva ni utarai<br>
                Hure utaru ganga kinare, tame utaro bhav par..pagmane

                <hr /><a href="#">Back</a><hr />

                <a id="jesalkari"></a><font color="red" size="3"><b>Jesal kari le vichaar</b></font><p>
                Jesal kari le vichaar, maathe jam keri dhaar<br>
                Sapana jevo che sansaar, Tori raani kare che pukaar<br>
                Aavone jesal raai aapne preme thaki mare re ji<br>
                Vlasaad hoi tya... mare re ho ji<p>
                Anubhav avyo che avtaar, maathe guru no adhaar<br>
                Eh javu jani ne darbaar, bherli utaaro bhav paar<br>
                Aavone jesaal rai aapne preme thaki mare re ji<p>
                Guru na gun no nai paar, eh bhakti khanda keri dhaar<br>
                Nudrash jaane re sansar, evi ene erre jo avtaar<br>
                Aavone Jesaal rai aapne preme thaki mare re ji<p>
                Eh moti aaran ma ovrai, mathe jar kera dhhar<br>
                Phute eto phatakiyo kevai, khara ni khara kharvu thai<br>
                Aavone Jesaal rai aapne preme thaki mare re ji

                <hr /><a href="#">Back</a><hr />

                <a id="prabhuta"></a><font color="red" size="3"><b>Prabhu tara charanoma amane tu lege</b></font><p>
                Prabhu taraa charanoma amane tu leje, kari ne dayaa bhakti taari tu deje<br>
                Amo to sadaanaa chhiye barak taara, no josho kadi naath avagun amaara<p>
                Sada maangiye naat dejo subuddhi, aa vinanti amaari urmaa tu leje(2)<br>
                Prabhu taraa charanoma amane tu leje, kari ne dayaa bhakti tari tu deje<p>
                Chhoru kachhoru kadi thaaya gaataa, na kartaa kadi rosh maata ke pitaa(2)<br>
                Maataa pitaa naath tu chhe amaaro, keavu ghate te amone tu keje<p>
                Bhulyaa mota mota amaaru gaju shu, padya taaraa charane kahiye vadhu shu(2)<br>
                Rasik-shyaamanaa naath thayne shukaani, aa naiyya kinaare lagaavi tu deje

                <hr /><a href="#">Back</a><hr />

                <a id="jamunaa"></a><font color="red" size="3"><b>Jamunaa jaramaa kesar ghori</b></font><p>
                Jamunaa jaramaa kesar ghori, snaan karaavu shaamaraa<br>
                Halake haathe ango chori, laada ladaavu shaamaraa<p>
                Vastro ange luchhi aapu, pidu pitaamber pyaaramaa<br>
                Tel sugandi naakhi aapu(2), vakudiya-tuj varama<p>
                Kuma kuma keru tilak sajaavu, trikam taara baalamaa<br>
                Alabeli aankhomaa aanju(2), anjan maraa valamaa<p>
                Hasti javu vaaTe vaaTe, naachi utthu taalamaa<br>
                Najar na laage shyaam sundarane(2), tapakaa kari dava gaalamaa<p>
                Pagamaa zaanzar rum zum vaage, karama kankar vaalamaa<br>
                Kanthe maara kaane kundal(2), kede kandoro chaalamaa<p>
                Mor mukut maathe peheraavi, murali aapu haathamaa<br>
                Krshna krupaaru nirkhi shobha (2), vaari jaavu taara vahaalamaa<p>
                Dudh katori bharine aapu, pi jaa-oone shaamaraa<br>
                Bhakt mandal nirkhi shobha (2), raakho charane shaamaraa

                <hr /><a href="#">Back</a><hr />

                <a id="sukhake"></a><font color="red" size="3"><b>Sukhake saba saathii dukhame.n na koii</b></font><p>
                Sukhake saba saathii dukhame.n na koii, mere raama, mere raama<br>
                Teraa naama ik saachaa duujaa na koii<p>
                Jiivana aanii jaanii chhaayaa(2) jhuuthii maayaa jhuuthii kaayaa<br>
                Phira kaahe ko saarii umariyaa(2) paapakii gatharii dhoii<p>
                Naa kuchha teraa naa kuchha meraa(2) ye jaga jogiivaalaa pheraa<br>
                Raajaa ho yaa ranka sabhiikaa(2) anta ekasaa hoii<p>
                Baaharakii tuu maatii phaanke(2) manake bhiitara kyuun na jhaanke<br>
                Ujale tanapara maana kiyaa aur (2) manakii maila na dhoii

                <hr /><a href="#">Back</a><hr />

                <a id="dhunire"></a><font color="red" size="3"><b>Dhuni re dhakhaavi beli ame taaraa naamani</b></font><p>
                Dhuni re dhakhaavi beli ame taaraa naamani<br>
                Ch: hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<br>
                Ame taaraa naamani, alakhanaa re dhaamani re<br>
                Ch: dhuni re dhakhaavi beli ame taaraa naamani<br>
                Hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<p>
                Bhulo re padiyo re hanso, aagane udine aavyo<br>
                Ch: bhulo re padiyo re hanso, aagane udine aavyo<br>
                Tan manathi tar chodaayo, maaragama rath athadayo<br>
                Ch: tan manathi tar chodaayo, maaragama rath athadayo<br>
                Aaee gamana pade re ene<br>
                Gamana pade re ene, thakur taaraa dhamani re<p>
                Ch: dhuni re dhakhaavi beli ame taaraa naamani<br>
                Hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<br>
                Kone re kaaje re jeevadaa, jankhanaa tane re jaagi<br>
                Ch: kone re kaaje re jeevadaa, jankhanaa tane re jaagi<br>
                Kone re vatu re jota, bhaavani aa bhavaT bhangi<br>
                Ch: kone re vatu re jota, bhaavani aa bhavat bhangi<br>
                Aaee tarsu re jaagi jeevane he<br>
                Tarsu re jaagi jeevane he, bhakti na jaamani re<p>
                Ch: dhuni re dhakhaavi beli ame taaraa naamani<br>
                Hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<br>
                Ch: dhuni re dhakhaavi beli ame taaraa naamani

                <hr /><a href="#">Back</a><hr />

                <a id="paayojii"></a><font color="red" size="3"><b>paayo jii mai.nne raam ratan dhan paayo</b></font><p>
                Paayo jii mainne raam ratan dhan paayo<br>
                Vastu amolik dii mere sataguru kirapaa kari apanaayo<br>
                Janam janam kii puunjii paai jag men sabhii khovaayo<br>
                Kharachai n khuutai chor n luutai din din badhat savaayo<br>
                Sat kii naav khevatiyaa sataguru bhavasaagar tar aayo<br>
                Miiraa ke prabhu giridhar naagar harash harash jas gaayo

                <hr /><a href="#">Back</a><hr />

                <a id="siitaa"></a><font color="red" size="3"><b>Siitaa raam siitaa raam siitaaraam kahiye</b></font><p>
                Siitaa raam siitaa raam siitaaraam kahiye<br>
                Jaahi vidhi raakhe raam taahi vidhi rahiye<p>
                Mukh men ho raam naam raam sevaa haath men<br>
                Tuu akelaa naahin pyaare raam tere saath men<br>
                Vidhi kaa vidhaan jaan haani laabh sahiye<p>
                Kiyaa abhimaan to phir maan nahiin paayegaa<br>
                Hogaa pyaare vahii jo shrii raamajii ko bhaayegaa<br>
                Phal aashaa tyaag shubh karm karate rahiye<p>
                Zindagii kii dor saunp haath diinaanaath ke<br>
                Mahalon me raakhe chaahe jhonpadii me vaas de<br>
                Dhanyavaad nirvivaad raam raam kahiye<p>
                Aashaa ek raamajii se  duujii aashaa chhod de<br>
                Maataa ek raamajii se duuje naate tod de<br>
                Saadhu sang raam rang ang ang rangiye<br>
                Kaam ras tyaag pyaare raam ras pagiye<p>
                Siitaa raam siitaa raam siitaaraam kahiye<br>
                Jaahi vidhi raakhe raam taahi vidhi rahiye

                <hr /><a href="#">Back</a><hr />

                <a id="banavaarii"></a><font color="red" size="3"><b>Banavaarii re</b></font><p>
                Banavaarii re<br>
                Jiine kaa sahaaraa teraa naam re<br>
                Mujhe duniyaa vaalon se kyaa kaam re<p>
                Jhuuthii duniyaa jhuuthe bandhan, jhuuthii hai ye maayaa<br>
                JhuuThaa saansa kaa aanaa jaanaa, jhuuthii hai ye kaayaa<br>
                O, yahaan saanchaa teraa naam re<br>
                Banavaarii re...<p>
                Ranga men tere ranga gaye giridhara, chhod diyaa jaga saaraa<br>
                Bana gaye tere prem ke jogii, le ke mana ekataaraa<br>
                O, mujhe pyaaraa teraa dhaam re<br>
                Banavaarii re...<p>
                Darshana teraa jisa dina paauun, hara chintaa mita jaaye<br>
                Jiivana meraa in charanon men, aas kii jyota jagaaye<br>
                O, merii baanhe.n pakada lo shyaam re<br>
                Banavaarii re...

                <hr /><a href="#">Back</a><hr />

                <a id="bhagavaan"></a><font color="red" size="3"><b>Bhagavaan merii naiyaa us paar lagaa denaa</b></font><p>
                Bhagavaan merii naiyaa us paar lagaa denaa<br>
                Ab tak to nibhaayaa hai aage bhii nibhaa denaa<p>
                Sambhav hai jhanjhaton men main tum ko bhuul jaauun<br>
                Par naath kahiin tum bhii mujhako n bhulaa denaa<p>
                Tum dev main pujaarii tum iish main upaasak<br>
                Yah baat sach hai to phir sach kar ke dikhaa denaa<p>
                Sharan men aaye hain<br>
                Sharan men aaye hain ham tumhaarii<br>
                Dayaa karo he dayaalu bhagavan<br>
                Samhaalo bigadii dashaa hamaarii<br>
                Dayaa karo he dayaalu bhagavan

                <hr /><a href="#">Back</a><hr />

                <a id="mailii"></a><font color="red" size="3"><b>Mailii chaadar o.Dh ke kaise dvaar tumhaare aauu.N</b></font><p>
                Mailii chaadar odh ke kaise dvaar tumhaare aauun<br>
                He paavan parameshvar mere man hii man sharamaauun<p>
                Tuune mujhako jag men bhejaa nirmal dekar kaayaa<br>
                Aakar ke sa.nsaar men mainne isako daag lagaayaa<br>
                Janam janam kii mailii chaadar kaise daag chhudaauun<p>
                Nirmal vaanii paakar maine naam na teraa gaayaa<br>
                Nayan muund kar he parameshvar kabhii na tujhako dhyaayaa<br>
                Man viinaa kii taaren tuutiin ab kyaa giit sunaauun<p>
                In pairon se chal kar tere mandir kabhii n aayaa<br>
                Jahaan jahaan ho puujaa terii kabhii n shiish jhukaayaa<br>
                He hari har main haar ke aayaa ab kyaa haar chadhaauun

                <hr /><a href="#">Back</a><hr />

                <a id="hamako"></a><font color="red" size="3"><b>Hamako manakii shakti denaa, mana vijaya kare.n</b></font><p>
                Hamako manakii shakti denaa, mana vijaya karen<br>
                Duusaronkii jayase pahale, khudakii jaya karen<br>
                Hamako manakii shakti denaa<p>
                Bhedabhaava apane dilase, saapha kara saken<br>
                Duusaronse bhuula ho to, maapha kara saken<br>
                Jhuuthase bache rahen, sachakaa dama bharen<br>
                Duusaronkii jayase pahale,<p>
                Mushkilen paden to hamape, itanaa karma kara<br>
                Saatha den to dharmakaa, chalen to dharma para<br>
                Khudape hausalaa rahe, sachakaa dama bharen<br>
                Duusaronkii jayase pahale

                <hr /><a href="#">Back</a><hr />

                <a id="jyotase"></a><font color="red" size="3"><b>Jyota se jyota jagaate chalo prema kii ga.ngaa bahaate chalo&lt;</b></font><p>
                Jyota se jyota jagaate chalo prema kii gangaa bahaate chalo<br>
                Raah men aae jo diin dukhii sabako gale se lagaate chalo<p>
                Jisakaa na koii sangii saathii iishvar hai rakhavaalaa<br>
                Jo nirdhan hai jo nirbal hai vah hai prabhuu kaa pyaaraa<br>
                Pyaar ke motii lutaate chalo, prema kii gangaa<p>
                Aashaa tuutii mamataa ruuthii chhuut gayaa hai kinaaraa<br>
                Band karo mat dvaar dayaa kaa de do kuchh to sahaaraa<br>
                Diip dayaa kaa jalaate chalo, prema kii gangaa<p>
                Chhaayaa hai chhaaon aur andheraa bhatak gaii hain dishaaen<br>
                Maanav ban baithaa hai daanav kisako vyathaa sunaaen<br>
                Dharatii ko svarg banaate chalo, prema kii gangaa

                <hr /><a href="#">Back</a><hr />

                <a id="allaah"></a><font color="red" size="3"><b>Allaah tero naam,  Ish_var tero naam</b></font><p>
                allaah tero naam, ishvar tero naam(2)<br>
                sabako sanmati de bhagavaan(2)<br>
                allaah tero naam<p>
                maangon kaa sindur naa chhute<br>
                maangon kaa, sindur naa chhuute<br>
                maan bahano kii aas naa tute<br>
                maan bahano kii, aas naa tuute<br>
                deh binaa, daataa, deh binaa<br>
                bhatake naa praan<br>
                sabako sanmati de bhagavaan<br>
                allaah tero naam, ishvar tero naam<p>
                o saare jag ke rakhavaale<br>
                o saare jag ke rakhavaale<br>
                nirbal ko bal dene vaale<br>
                nirbal ko bal dene vaale<br>
                balavaano ko<br>
                o, balavaano ko dede gyaan<br>
                sabako sanmati de bhagavaan<br>
                allaah tero naam<br>
                Ishvar tero naam<br>
                allaah tero naam<br>
                Ishvar tero naam<br>
                allaah tero naam

                <hr /><a href="#">Back</a><hr />












                <a id="mantadapat"></a><font color="red" size="3"><b>Man ta.Dapat hari darasan ko aaj</b></font><p>
                Man tadapat hari darasan ko aaj<br>
                More tum bin bigade sakal kaaj<br>
                Aa, vinatii karat, huun, rakhiyo laaj, man tadapat<p>

                Tumhare dvaar kaa main huun jogii<br>
                Hamarii or nazar kab hogii<br>
                Sun more vyaakul man kii baat, tadapat harii darasan<p>

                Bin guruu gyaan kahaan se paauun<br>
                Diijo daan harii gun gaauun<br>
                Sab gunii jan pe tumhaaraa raaj, tadapat harii<p>

                Muralii manohar aas na todo<br>
                Dukh bhanjan more saath na chhodo<br>
                Mohe darasan bhikshaa de do aaj de do aaj

                <hr /><a href="#top">Back</a><hr/>

                <a id="vaishnav"></a><font color="red" size="3"><b>VaishNav jan to tene kahiye je</b></font><p>
                Vaishnav jan to tene kahiye je, piid paraayii jaane re<br>
                Par dukhkhe upakaar kare toye, man abhimaan naa aane re<br>
                Vaishnav jan to tene kahiye je <p>

                Sakal lok maan sahune vande, niindaa na kare kenii re<br>
                Vaach kaachh man nishchal raakhe, dhan dhan jananii tenii re<br>
                Vaishnav jan to tene kahiye je<p>

                Sam drishtii ne trishnaa tyaagii, par strii jene maat re<br>
                Jihvaa thakii asatya naa bole, par dhan nav jhaalii haath re<br>
                Vaishnav jan to tene kahiye je<p>

                Moh maayaa vyaape nahii jene, dridh vairaagya jenaa man maan re<br>
                Raam naam sun taalii laagii, sakal tirath tenaa tan maan re<br>
                Vaishnav jan to tene kahiye je<p>

                Van lobhii ne kapat rahit chhe, kaam krodh nivaaryaa re<br>
                Bhane narasaiyyo tenun darshan kartaa, kul ekoter taarayaa re<br>
                Vaishnav jan to tene kahiye je

                <hr /><a href="#top">Back</a><hr/>

                <a id="aisilagi"></a><font color="red" size="3"><b>Aisi lagi lagan, meera ho gai magan</b></font><p>
                Aisi lagi lagan, meera ho gai magan<br>
                Woh to gali gali gun gane lagi<br>
                Mehlon mein pali ban ke jogan chali<br>
                Meera rani deewani kahane lagi<p>

                Koi roke nahin, koi toke nahin<br>
                Meera govind gopal gane lagi<br>
                Baithi santon ke sang, rangi mohan ke rang<br>
                Meera premi preetam ko manane chali<br>
                Woh to gali gali gun gane lagi<br>
                Rana ne vish diya, maano amrit piya<br>
                Meera sagar mein, sarita samane lagi<br>
                Dukh lakhon sahe, mukh se govind kahe<br>
                Meera govind gopal gane lagi<p>

                Woh to gali gali gun gane lagi<br>
                Aisi lagi lagan, meera ho gai magan<br>
                Woh to gali gali gun gane lagi

                <hr /><a href="#top">Back</a><hr/>


                <a id="rangde"></a><font color="red" size="3"><b>Rang de chunariya, rang de chunariya</b></font><p>
                Rang de chunariya, rang de chunariya<br>
                Shyam piya mori rang de chunariya<br>
                Lal na rangaoon hari no rangaoon<br>
                Apne hi rang me rang de chunariya<p>

                Bina rangaye mein to ghar nahin jaoongi<br>
                Biti jaaye sari umariya<p>

                Meera ke prabhu girdhar nagar<br>
                Jal se patla kaun hai,kaun bhoomi se bhari<br>
                Kaun agan se tej hai kaun kajal se kali<br>
                Jat se patla gyan hai, paap bhoomi se bhari<br>
                Krodh agan se tej hai aur kalank kajal se kali<br>
                Meera ke girdhar nagar<br>
                Prabhu charan mein, hari charan mein<br>
                Shyaam charan mein, lagi nazaria<br>
                Shyaam piya mori rang de chunariya

                <hr /><a href="#top">Back</a><hr/>

                <a id="tanke"></a><font color="red" size="3"><b>Tan ke tamboore mein</b></font><p>
                Tan ke tamboore mein, man adbhut hai, ya saaz<br>
                Hari ke kar se baj raha hari ki har awaaz<br>
                Tan ke tamboore mein do ansoon ke taar bole<br>
                Jaya siya ram ram jay radhe shyaam shyaam<br>
                Lagan lagi leela dhari se jagi re jagmag jyoti<br>
                Ran naam ka heera paya shyam naam ka moti<br>
                Pyasi do ankhiyon mein ho aansoon a dhare bole<br>
                Jaya siya ram ram jay radhe shyaam shyaam<br>
                Abh to is mann ke mandir me prabhu ka hua basera<br>
                Magan hua mann mera choota janam janam ka phera<br>
                Mann ki muraliya mein ho sur ka shringar bole

                <hr /><a href="#top">Back</a><hr/>


                <a id="itanaato"></a><font color="red" size="3"><b>Ita naa to karnaa swaami, jab praan tana se nikale</b></font><p>
                Ita naa to karnaa swaami, jab praan tana se nikale<br>
                Govind naam lekar, tab praan tana se nikale<br>
                Shri gangaa ji kaa tat ho, yamunaa kaa vanshii vat ho<br>
                Meraa saanwaraa nikat ho, jab praan tana se nikale<br>
                Pitaambari kasi ho, chabi man men bhi basin ho<br>
                Hothoon pe kuch ha.nsi ho, jab praan tana se nikale<br>
                Us waqt jaldi aana, nahin shyaam bhool na jaanaa<br>
                Radhe ko saath laanaa, jab praan tana se nikale<br>
                Ek bhakti ki hai arji, khudgarj ki hai garji<br>
                Aage tumhaari marji, jab praan tana se nikale

                <hr /><a href="#top">Back</a><hr/>

                <a id="pinjare"></a><font color="red" size="3"><b>Pi.njare ke pa.nchhii re</b></font><p>
                Pinjare ke panchhii re, tera darad na jaane koe(2)<p>

                Kaha na sake tu, apanii kahani<br>
                Teri bhi panchhii, kyaa zindagaanii re <br>
                Vidhi ne teri kathaa likhii aansuu men kalam duboe <br>
                Tera darad<p>

                Chupake chupake, rone vaale <br>
                Rakhanaa chhupaake, dil ke chhale re <br>
                Ye patthar ka desh hain pagale, yahaan koi na teraa hoy<br>
                Teraa darad

                <hr /><a href="#top">Back</a><hr/>


                <a id="hanumaan"></a><font color="red" size="3"><b>Hanumaan Chalisa</b></font><p>
                Shree Guru Charan Saroj Raj, Nij Man Mukar Sudhari,<br>
                Barnau Raghuvar Bimal Jasu, Jo dayaku Phal Chari <p>

                With the dust of Guru's Lotus feet, I clean the mirror of my mind and then <br>
                narrate the sacred glory of Sri Ram Chandra, The Supereme among the Raghu <br>
                dynasty. The giver of the four attainments of life. <p>

                Budhi heen Tanu Janike, Sumirow, Pavan Kumar, <br>
                Bal Buddhi Vidya Dehu Mohi, Harahu Kalesh Bikaar <p>

                Knowing myself to be ignorent, I urge you, O Hanuman, The son of Pavan! O <br>
                Lord! kindly Bestow on me strength, wisdom and knowledge, removing all my <br>
                miseries and blemishes. <p>

                Jai Hanuman Gyan Guna Sagar <br>
                Jai Kipis Tihun Lok Ujgaar <p>

                Victory of Thee, O Hanuman, Ocean of wisdom and virtue, victory to the Lord of <br>
                monkeys who is well known in all the three worlds <p>

                Ramdoot Atulit Bal Dhamaa, <br>
                Anjani Putra Pavansut naamaa. <p>

                You, the Divine messager of Ram and repository of immeasurable strength, are also <br>
                known as Anjaniputra and known as the son of the wind - Pavanputra. <p>

                Mahebeer Bikram Bajrangi, <br>
                Kumati Nivaar Sumati Ke Sangi. <p>

                Oh Hanumanji! You are valiant and brave, with a body like lightening. You are the <br>
                dispeller of darkness of evil thoughts and companion of good sense and wisdom. <p>

                Kanchan Baran Biraaj Subesaa, <br>
                Kanan kundal kunchit kesa. <p>

                Shri Hanumanji's physique is golden coloured. His dress is pretty, wearing <br>
                'Kundals' ear-rings and his hairs are long and curly. <p>

                Hath Bajra Aur Dhvaja Birjai, <br>
                Kandhe Moonj Janeu saage. <p>

                Shri Hanumanji is holding in one hand a lighting bolt and in the other a banner <br>
                with sacred thread across his shoulder. <p>

                Shankar Suvna Kesari Nandan, <br>
                Tej Pratap Maha Jag Vandan. <p>

                Oh Hanumanji! You are the emanation of 'SHIVA' and you delight Shri Keshri. <br>
                Being ever effulgent, you and hold vast sway over the universe. The entire <br>
                world proptiates. You are adorable of all. <p>

                Vidyavaan Guni Ati Chatur, <br>
                Ram Kaj Karibe Ko Atur <p>

                Oh! Shri Hanumanji! You are the repository learning, virtuous, very wise and <br>
                highly keen to do the work of Shri Ram, <p>

                Prabhu Charittra Sunibe Ko Rasiya, <br>
                Ram Lakhan Sita man basyia. <p>

                You are intensely greedy for listening to the naration of Lord Ram's lifestory and <br>
                revel on its enjoyment. You ever dwell in the hearts of Shri Ram-Sita and Shri Lakshman.<p>

                Sukshma roop Dhari Siyahi Dikhwana, <br>
                Bikat roop Dhari Lank Jarawa <p>

                You appeared beofre Sita in a diminutive form and spoke to her, while you <br>
                assumed an awesome form and struck terror by setting Lanka on fire. <p>

                Bhim roop Dhari Asur Sanhare, <br>
                Ramchandra Ke kaaj Savare. <p>

                He, with his terrible form, killed demons in Lanka and performed all acts of Shri Ram. <p>

                Laye Sajivan Lakhan Jiyaye, <br>
                Shri Raghubir harashi ur laye. <p>

                When Hanumanji made Lakshman alive after bringing 'Sanjivni herb' Shri Ram <br>
                took him in his deep embrace, his heart full of joy. <p>

                Raghupati Kinhi Bahut Badaai, <br>
                Tum Mama Priya Bharat Sam Bahi. <p>

                Shri Ram lustily extolled Hanumanji's excellence and remarked, "you are as dear <br>
                to me as my own brother Bharat" <p>

                Sahastra Badan Tumharo Jas Gaave, <br>
                Asa kahi Shripati Kanth Laagave. <p>

                Shri Ram embraced Hanumanji saying: <br>
                "Let the thousand - tongued sheshnaag sing your glories" <p>

                Sankadik Brahmadi Muneesa, <br>
                Narad Sarad Sahit Aheesa <p>

                Sanak and the sages, saints. Lord Brahma, the great hermits Narad and <br>
                Goddess Saraswati along with Sheshnag the cosmic serpent, fail to sing the<br>
                glories of Hanumanji exactly <p>

                Jam Kuber Digpal Jahan Te, <br>
                Kabi Kabid Kahin Sake Kahan Te <p>

                What to talk of denizens of the earth like poets and scholars ones etc even Gods <br>
                like Yamraj, Kuber, and Digpal fail to narrate Hanman's greatness in toto. <p>

                Tum Upkar Sugrivahi Keenha, <br>
                Ram Miali Rajpad Deenha <p>

                Hanumanji! You rendered a great service for Sugriva, It were you who united <br>
                him with SHRI RAM and installed him on the Royal Throne. <p>

                Tumharo Mantro Bibhishan Maana, <br>
                Lankeshwar Bhaye Sab Jag Jaana. <p>

                By heeding your advice. Vibhushan became Lord of Lanka, which is known all <br>
                over the universe. <p>

                Juug Sahastra Jojan Par Bhaanu, <br>
                Leelyo Taahi Madhur Phal Jaanu <p>

                Hanumanji gulped, the SUN at distance of sixteen thousand miles considering <br>
                it to be a sweet fruit. <p>

                Prabhu Mudrika Meli Mukha Maaheen, <br>
                Jaladhi Langhi Gaye Acharaj Naheen. <p>

                Carrying the Lord's ring in his mouth, he went across the ocean. There is no <br>
                wonder in that. <p>

                Durgam Kaaj Jagat Ke Jeete, <br>
                Sugam Anugrah Tumhre Te Te. <br>
                Oh Hanumanji! all the difficult tasks in the world are rendered easiest by your grace. <p>

                Ram Duware Tum Rakhavare, <br>
                Hot Na Aagya Bin Paisare. <p>

                Oh Hanumanji! You are the sentinel at the door of Ram's mercy mansion or His <br>
                divine abode. No one may enter without your permission. <p>

                Sab Sukh Lahen Tumhari Sarna, <br>
                Tum Rakshak Kaahu Ko Darnaa. <p>

                By your grace one can enjoy all happiness and one need not have any fear under <br>
                your protection. <p>

                Aapan Tej Samharo Aapei, <br>
                Tanau Lok Hank Te Kanpei <p>

                When you roar all the three worlds tremble and only you can control your might. <p>

                Bhoot Pisaach Nikat Nahi Avei, <br>
                Mahabir Jab Naam Sunavei. <p>

                Great Brave on. Hanumanji's name keeps all the Ghosts, Demons &amp; evils spirits <br>
                away from his devotees. <p>

                Nasei Rog Hare Sab Peera, <br>
                Japat Niranter Hanumant Beera <p>

                On reciting Hanumanji's holy name regularly all the maladies perish the entire <br>
                pain disappears. <p>

                Sankat Te Hanuman Chhudavei, <br>
                Man Kram Bachan Dhyan Jo Lavei. <p>

                Those who rembember Hanumanji in thought, word and deed are well guarded <br>
                against their odds in life. <p>

                Sub Par Ram Tapasvee Raaja, <br>
                Tinke Kaaj Sakal Tum Saaja <p>

                Oh Hanumanji! You are the caretaker of even Lord Rama, who has been hailed as <br>
                the Supreme Lord and the Monarch of all those devoted in penances. <p>

                Aur Manorath Jo Koi Lave, <br>
                Soi Amit Jivan Phal Pave. <p>

                Oh Hanumanji! You fulfill the desires of those who come to you and bestow <br>
                the eternal nectar the highest fruit of life. <p>

                Charo Juung Partap Tumhara, <br>
                Hai Parsiddha Jagat Ujiyara. <p>

                Oh Hanumanji! You magnificent glory is acclaimed far and wide all through the <br>
                four ages and your fame is radianlty noted all over the cosmos. <p>

                Sadho Sant Ke Tum Rakhvare, <br>
                Asur Nikandan Ram Dulare. <p>

                Oh Hanumanji! You are the saviour and the guardian angel of saints and sages <br>
                and destroy all the Demons, you are the seraphic darling of Shri Ram. <p>

                Ashta Siddhi Nau Nidhi Ke Data, <br>
                Asa Bar Din Janki Mata. <p>

                Hanumanji has been blessed with mother Janki to grant to any one any YOGIC <br>
                power of eight Sidhis and Nava Nidhis as per choice. <p>

                Ram Rasayan Tumhare Pasa, <br>
                Sadaa Raho Raghupati Ke Dasa. <p>

                Oh Hanumanji! You hold the essence of devotion to RAM, always remaining His Servant. <p>

                Tumhare Bhajan Ramko Pavei. <br>
                Janam Janam Ke Dukh Bisravei. <p>

                Oh Hanumanji! through devotion to you, one comes to RAM and becames free <br>
                from suffering of several lives. <p>

                Anta Kaal Raghubar Pur Jai, <br>
                Jahan Janma Hari Bhakta Kahai. <p>

                After death he enters the eternal abode of Sri Ram and remains a devotee of <br>
                him, whenever, taking new birth on earth. <p>

                Aur Devata Chitt Na Dharai, <br>
                Hanumant Sei Sarva Sukh Karai <p>

                You need not hold any other demigod in mind. Hanumanji alone will give all happiness. <p>

                Sankat Kate Mitey Sab Peera, <br>
                Jo Sumirei Hanumant Balbeera <p>

                Oh Powerful Hanumanji! You end the sufferings and remove all the pain from <br>
                those who remember you. <p>

                Jai Jai Jai Hanuman Gosai <br>
                Kripa Karahu Gurudev Ki Naiee <p>

                Hail-Hail-Hail-Lord Hanumanji! I beseech you Honour to bless me in the <br>
                capacity of my supreme 'GURU' (teacher). <p>

                Jo Sat Baar Paath Kar Koi, <br>
                Chhutahi Bandi Maha Sukh Hoi.<p>

                One who recites this Hanuman Chalisa one hundred times daily for one hundred <br>
                days becames free from the bondage of life and death and ejoys the highest <br>
                bliss at last. <p>

                Jo Yah Padhe Hanuman Chalisa, <br>
                Hoy Siddhi Sakhi Gaurisa <p>

                As Lord Shankar witnesses, all those who recite Hanuman Chalisa regularly are <br>
                sure to be benedicted <p>

                Tulsidas Sada Hari Chera, <br>
                Keeje Nath Hriday Mah Dera. <p>

                Tulsidas always the servant of Lord prays. "Oh my Lord! You enshrine within my heart.! <p>

                Pavan Tanay Sankat Haran, Mangal Murti Roop. <br>
                Ram Lakhan Sita Sahit, Hriday Basahu Sur Bhoop. <p>

                O Shri Hanuman, The Son of Pavan, Saviour The Embodiment of <br>
                blessings, reside in my heart together with Shri Ram, Laxman and Sita <p>
                </font></center>
