<html>
<head>

<title>Welcome to the Profiles of our Elders</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="700" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<font color="#CC3333"><h1><center>
Welcome to the Profiles of our Elders
</center></h1></font>
<p>
<font color="yellow"><i>
In Alphabetical Order
</i></font>
<p>



<%= link_to "Chavda, Sumitraben Parsotambhai", page_path('sspgmprofile11') %>
<p>

<%= link_to "Devalia, Madhavji Narsi", page_path('sspgmprofile4') %>
<p>

<%= link_to "Dhokia, Premjibhai Bhura", page_path('sspgmprofile7') %>
<p>

<%= link_to "Fatania, Jatin Vinod", page_path('sspgmprofile12') %>
<p>

<%= link_to "Fatania, Mohanlal Virjibhai", page_path('sspgmprofile2') %>
<p>

<%= link_to "Fatania, Vinodbhai Khimjibhai", page_path('sspgmprofile8') %>
<p>

<%= link_to "Jadav, Rajesh Bhimji", page_path('sspgmprofile13') %>
<p>

<%= link_to "Jagatiya, Hirajibhai Punjabhai", page_path('sspgmprofile14') %>
<p>

<%= link_to "Koria, Laljibhai Ranmalbhai", page_path('sspgmprofile10') %>
<p>

<%= link_to "Koria, Nathabhai Jadavbhai", page_path('sspgmprofile3') %>
<p>

<%= link_to "Kukadia, Anila Girishkumar", page_path('sspgmprofile17') %>
<p>

<%= link_to "Ladva, Prabjibhai Jinabhai", page_path('sspgmprofile5') %>
<p>

<%= link_to "Pankhania, Karsanbhai Becharbhai", page_path('sspgmprofile9') %>
<p>

<%= link_to "Pankhania, Masribhai Jerambhai", page_path('sspgmprofile1') %>
<p>

<%= link_to "Pankhania, Tulsidas Becharbhai", page_path('sspgmprofile6') %>
<p>

<%= link_to "Parmar, Dhansukh Shivabhai", page_path('sspgmprofile15') %>
<p>

<%= link_to "Shingadia, Virji Jeram", page_path('sspgmprofile16') %>
<p>


<font color="red" size="3"><b>
To submit a profile of a prominent SSPGM/SSPC member, email
us at
</b></font>
<a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>
<p>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<script language="javascript" src="http://www.sspgm.net/right.js"></script>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905;
var sc_partition=3;
var sc_invisible=1;
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
