<div class="container mb-4 mt-4 ">
  <div class="row">


  <div class="col-4" style="border-right:2px solid #CC3333; height: 400px">
        <font color="red"><b>Features</b></font><br>
        <%= link_to "Mandal History", page_path('ukwelcome') %><br />
        <%= link_to "Constitution", page_path('ukconstitution') %><br /><br />

        <%= render 'shared/uk_right' %>
    </div>

    <div class="col-8">
      <center>
        <h1 class="page-header">SSPGM United Kingdom Mandal</h1>

        <center><%= link_to image_tag('UK_mandal1.jpg', height: "150", width: "225"), image_path('UK_mandal1.jpg') %><br>

        <%= link_to page_path('ukseat') do %>
          <font color="steelblue">
          CLICK HERE to see the names of the above office bearers for the UK Mandal elected on 22<sup>nd</sup> May, 1976
          </font>
        <% end -%>

      </center>
    </div>

  </div>
</div>
