<center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="700" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<center><h1><font color="#CC3333">
Welcome to the History of SSPGM
</font></h1></center>
<p>
<%= link_to "Click Here for the History of SSPGM", page_path('sspgmhistory3') %>
<p>
<%= link_to "Click Here for the Dedications Page", page_path('sspgmdedication') %>
<p>
<%= link_to "Click Here for \"The Still Wheel\", an archaeological study of the Kumbhar, by Bina Thomas", page_path('stillwheel.html') %>
<p><br>
<center>
  <%= image_tag 'mepa_bhagat2.jpg', width: "200", height: "189" %><br/>
  <font color="#66CCFF"><b>A picture of a Khumbar</b></font></center>
</center>
<p>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr>
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
