<h1 class="page-header">Profiles of Our Elders</h1>

<%= link_to "Chavda, Sumitraben Parsotambhai", page_path('sspgmprofile11') %><br />
<%= link_to "Devalia, Madhavji Narsi", page_path('sspgmprofile4') %><br />
<%= link_to "Dhokia, Premjibhai Bhura", page_path('sspgmprofile7') %><br />
<%= link_to "Fatania, Jatin Vinod", page_path('sspgmprofile12') %><br />
<%= link_to "Fatania, Mohanlal Virjibhai", page_path('sspgmprofile2') %><br />
<%= link_to "Fatania, Vinodbhai Khimjibhai", page_path('sspgmprofile8') %><br />
<%= link_to "Jadav, Rajesh Bhimji", page_path('sspgmprofile13') %><br />
<%= link_to "Jagatiya, Hirajibhai Punjabhai", page_path('sspgmprofile14') %><br />
<%= link_to "Koria, Laljibhai Ranmalbhai", page_path('sspgmprofile10') %><br />
<%= link_to "Koria, Nathabhai Jadavbhai", page_path('sspgmprofile3') %><br />
<%= link_to "Kukadia, Anila Girishkumar", page_path('sspgmprofile17') %><br />
<%= link_to "Ladva, Prabjibhai Jinabhai", page_path('sspgmprofile5') %><br />
<%= link_to "Pankhania, Karsanbhai Becharbhai", page_path('sspgmprofile9') %><br />
<%= link_to "Pankhania, Masribhai Jerambhai", page_path('sspgmprofile1') %><br />
<%= link_to "Pankhania, Tulsidas Becharbhai", page_path('sspgmprofile6') %><br />
<%= link_to "Parmar, Dhansukh Shivabhai", page_path('sspgmprofile15') %><br />
<%= link_to "Shingadia, Virji Jeram", page_path('sspgmprofile16') %><br /><br />

<font color="red" size="3"><b>To submit a profile of a prominent SSPGM/SSPC member, email us at</b></font>
<a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>
