<center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="700" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<center><h1><font color="#CC3333">
Welcome to the Sants and Bhaktas Page
</font></h1></center>
<p>
<font color="yellow"><i>
In Alphabetical Order
</i></font>

<p>

<%= link_to "Prajapati Bhakta Shree Bogahram (Balakdasji)", page_path('sspgmsb1') %>
<p>
<%= link_to "Prajapati Bhagat Shree Chindal Bhagat", page_path('sspgmsb2') %>
<p>
<%= link_to "Prajapati Sant Shree Gora Bhagat", page_path('sspgmsb3') %>
<p>
<%= link_to "Prajapati Bhagat Shree Hira Bhagat", page_path('sspgmsb4') %>
<p>
<%= link_to "Prajapati Bhakta Shree Jina Bhagat", page_path('sspgmsb5') %>
<p>
<%= link_to "Prajapati Sant Shree Jiva Bhagat (Hansdasji)", page_path('sspgmsb6') %>
<p>
<%= link_to "Prajapati Bhakta Shree Jiva Bhagat", page_path('sspgmsb7') %>
<p>
<%= link_to "Prajapati Bhakta Kala Bhagat", page_path('sspgmsb8') %>
<p>
<%= link_to "Prajapati Bhakta Shree Karshan Bhakta", page_path('sspgmsb9') %>
<p>
<%= link_to "Prajapati Bhagat Shree Kubaji", page_path('sspgmsb10') %>
<p>
<%= link_to "Prajapati Sant Shree Mepa Bhagat", page_path('sspgmsb11') %>
<p>
<%= link_to "Prajapati Bhakta Shree Ramji Bhagat", page_path('sspgmsb12') %>
<p>
<%= link_to "Prajapati Bhakta Shree Shamji Bhagat", page_path('sspgmsb13') %>
<p>
<%= link_to "Prajapati Bhagat Shree Virji Bhagat", page_path('sspgmsb14') %>
<p>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr>
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
