<h1 class="page-header">History of Surnames</h1>

<p>
  <%= link_to "Bhalsod", page_path('bhalsod') %><br />
  <%= link_to "Bharadwa", page_path('bharadwa') %><br />
  <%= link_to "Devalia", page_path('devalia') %><br />
  <%= link_to "Dhokia", page_path('dhokia') %><br />
  <%= link_to "Fatania", page_path('fatania') %><br />
  <%= link_to "Ghedia", page_path('ghedia') %><br />
  <%= link_to "Pankhania", page_path('pankhania') %><br />
  <%= link_to "Vadukul", page_path('vadukul') %><br />
  <%= link_to "Vara", page_path('vara') %>
</p>

<p>
  <font color="red"><b>
    If you would like to contribute information to any of the following surnames, email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>
  </b></font><br />

  Bharadaj<br />
  Buhecha<br />
  Chandegra<br />
  Chavda<br />
  Chhaya<br />
  Chitroda<br />
  Chohan<br />
  Dabhi<br />
  Dodia<br />
  Gadher<br />
  Gadhia<br />
  Gadhvana<br />
  Girnara<br />
  Gohil<br />
  Gola<br />
  Jagatia<br />
  Jethwa<br />
  Jogia<br />
  Kamalia<br />
  Kansara<br />
  Kholia<br />
  Koria<br />
  Kukadia<br />
  Ladva<br />
  Majevadia<br />
  Mandora<br />
  Mavadia<br />
  Maru<br />
  Nena<br />
  Parmar<br />
  Pithia<br />
  Poria<br />
  Rathod<br />
  Ravat<br />
  Savania<br />
  Shingadia<br />
  Solanki<br />
  Taank<br />
  Vadher<br />
  Varu<br />
  Vegad<br />
  Visavadia<br />
  Yadav
</p>
