<blockquote>
  <blockquote>
    <p><b><span class="nav">Click on the pictures to enlarge and enjoy!</span></b><br>
      <tr><td bgcolor="black">

      <center>
      	<font face="arial" size="2" color="yellow">
Holi Celebrations - March 14th 2001<br>

      <%= link_to image_tag('holi2000_dance11.jpg', width: "160", height: "180"), image_path('holi2000_dance11.jpg') %>
      <%= link_to image_tag('holi2000_1.jpg', width: "126", height: "81"), image_path('holi2000_1.jpg') %>
      <%= link_to image_tag('holi2000_2.jpg', width: "50", height: "82"), image_path('holi2000_2.jpg') %>
      <%= link_to image_tag('holi2000_dance1.jpg', width: "106", height: "81"), image_path('holi2000_dance1.jpg') %>
      <%= link_to image_tag('holi2000_dance2.jpg', width: "58", height: "81"), image_path('holi2000_dance2.jpg') %>
	<br><br>Kids Slumber Party - Spring
<font face="arial" size="2" color="yellow"><br>
<%= link_to image_tag('ia_1stmeet2.jpg', width: "160", height: "180"), image_path('ia_1stmeet2.jpg') %>
      <%= link_to image_tag('ia_istmeet.jpg', width: "126", height: "81"), image_path('ia_istmeet.jpg') %>
      <%= link_to image_tag('ia_sleepov1.jpg', width: "50", height: "82"), image_path('ia_sleepov1.jpg') %>
      <%= link_to image_tag('ia_sleepov2.jpg', width: "106", height: "81"), image_path('ia_sleepov2.jpg') %>
	<br><br>Easter Picnic - Stone Mountain, GA - April 14th 2001 - Spring
<font face="arial" size="2" color="yellow"><br>
      <%= link_to image_tag('sspgm_sm_easter1.jpg', width: "126", height: "81"), image_path('sspgm_sm_easter1.jpg') %>
      <%= link_to image_tag('sspgm_sm_easter2.jpg', width: "50", height: "82"), image_path('sspgm_sm_easter2.jpg') %>
      <%= link_to image_tag('sspgm_sm_easter3.jpg', width: "106", height: "81"), image_path('sspgm_sm_easter3.jpg') %>
      <%= link_to image_tag('sspgm_sm_easter4.jpg', width: "126", height: "81"), image_path('sspgm_sm_easter4.jpg') %>
        <%= link_to image_tag('sspgm_sm_easter5.jpg', width: "58", height: "81"), image_path('sspgm_sm_easter5.jpg') %>
	<br><br>Boat Party - Lake Lanier - August 2001
<font face="arial" size="2" color="yellow"><br>
        <%= link_to image_tag('sspgm_boatparty1.jpg', width: "126", height: "81"), image_path('sspgm_boatparty1.jpg') %>
      <%= link_to image_tag('sspgm_boatparty2.jpg', width: "106", height: "81"), image_path('sspgm_boatparty2.jpg') %>
        <%= link_to image_tag('sspgm_boatparty3.jpg', width: "58", height: "81"), image_path('sspgm_boatparty3.jpg') %>
        <%= link_to image_tag('sspgm_boatparty4.jpg', width: "58", height: "81"), image_path('sspgm_boatparty4.jpg') %>
        <%= link_to image_tag('sspgm_boatparty5.jpg', width: "106", height: "81"), image_path('sspgm_boatparty5.jpg') %>
      <%= link_to image_tag('sspgm_boatparty6.jpg', width: "58", height: "81"), image_path('sspgm_boatparty6.jpg') %>
<br><br>Braves Game - Turner Feild - September 30th 2001
<font face="arial" size="2" color="yellow"><br>
      <%= link_to image_tag('sspgm_braves1.jpg', width: "126", height: "81"), image_path('sspgm_braves1.jpg') %>
        <%= link_to image_tag('sspgm_braves2.jpg', width: "50", height: "82"), image_path('sspgm_braves2.jpg') %>
        <%= link_to image_tag('sspgm_braves3.jpg', width: "106", height: "81"), image_path('sspgm_braves3.jpg') %>




  </blockquote>
</blockquote>

</table>

</center>
