<h1 class="page-header">Sants and Bhaktas</h1>

<%= link_to "Prajapati Bhakta Shree Bogahram (Balakdasji)", page_path('sspgmsb1') %><br />
<%= link_to "Prajapati Bhagat Shree Chindal Bhagat", page_path('sspgmsb2') %><br />
<%= link_to "Prajapati Sant Shree Gora Bhagat", page_path('sspgmsb3') %><br />
<%= link_to "Prajapati Bhagat Shree Hira Bhagat", page_path('sspgmsb4') %><br />
<%= link_to "Prajapati Bhakta Shree Jina Bhagat", page_path('sspgmsb5') %><br />
<%= link_to "Prajapati Sant Shree Jiva Bhagat (Hansdasji)", page_path('sspgmsb6') %><br />
<%= link_to "Prajapati Bhakta Shree Jiva Bhagat", page_path('sspgmsb7') %><br />
<%= link_to "Prajapati Bhakta Kala Bhagat", page_path('sspgmsb8') %><br />
<%= link_to "Prajapati Bhakta Shree Karshan Bhakta", page_path('sspgmsb9') %><br />
<%= link_to "Prajapati Bhagat Shree Kubaji", page_path('sspgmsb10') %><br />
<%= link_to "Prajapati Sant Shree Mepa Bhagat", page_path('sspgmsb11') %><br />
<%= link_to "Prajapati Bhakta Shree Ramji Bhagat", page_path('sspgmsb12') %><br />
<%= link_to "Prajapati Bhakta Shree Shamji Bhagat", page_path('sspgmsb13') %><br />
<%= link_to "Prajapati Bhagat Shree Virji Bhagat", page_path('sspgmsb14') %>
