<div class="container mb-4 mt-4 ">
  <div class="row">



  <div class="col-4" style="border-right:2px solid #CC3333; height: 400px">
  <font color="red"><b>Features</b></font><br>
  <%= link_to "Mandal History", page_path('atlantawelcome') %><br />
  <%= link_to "Constitution", page_path('usconstitution') %><br />
  <%= link_to "Committee 2003 - 2005", page_path('pres2003') %><br>
  <%= link_to "Committee 2000 - 2003", page_path('sspgmatlpres') %><br><br>

  <font color="red"><b>Photo Archives</b></font><br>
  <%= link_to "Click Here", page_path('sspgmphotos') %><br><br>

  <font color="red"><b>Events</b></font><br>
  <%= link_to "2001 India Earthquake Relief Fund", page_path('relieffund') %><br>
  <%= link_to "2002 Easter", page_path('easter2002') %><br>
  <%= link_to "2004 Sundarkand Path", page_path('sundarkandphotos') %><p>
</div>


    <div class="col-8">
      <center>
        <h1 class="page-header">SSPGM Atlanta Mandal</h1>

        <%= image_tag 'atlpic4.jpg', height: "150", width: "225" %><br /><br /><br />

      </center>
    </div>

  </div>
</div>
