<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">
      <center>

        <h1 class="page-header">SSPGM Atlanta Sundarkand Path Photo Archive</h1></center>

        <font color="white">
        SSPGM Event: Sundarkand Path<br>
        Performed by: Natubhai of Mombassa on Saturday 2/07/04 at Ravjibhai Pankhania's House
        </font>
        <p><br>
        <font color="yellow">
        Click on the pictures to enlarge
        </font>
        <br>
        <%= link_to image_tag('sundarkandpath1.jpg', height: 200, width: 200), image_path('sundarkandpath1.jpg') %>
        <%= link_to image_tag('sundarkandpath2.jpg', height: 200, width: 200), image_path('sundarkandpath2.jpg') %>
        <%= link_to image_tag('sundarkandpath3.jpg', height: 200, width: 200), image_path('sundarkandpath3.jpg') %>






      </center>
    </div>

    <div class="col-4">
      <center>
        <font color="red"><b>Features</b></font><br>
        <%= link_to "Mandal History", page_path('atlantawelcome') %><br />
        <%= link_to "Constitution", page_path('usconstitution') %><br />
        <%= link_to "Committee 2003 - 2005", page_path('pres2003') %><br>
        <%= link_to "Committee 2000 - 2003", page_path('sspgmatlpres') %><br><br>

        <font color="red"><b>Photo Archives</b></font><br>
        <%= link_to "Click Here", page_path('sspgmphotos') %><br><br>

        <font color="red"><b>Events</b></font><br>
        <%= link_to "2001 India Earthquake Relief Fund", page_path('relieffund') %><br>
        <%= link_to "2002 Easter", page_path('easter2002') %><br>
        <%= link_to "2004 Sundarkand Path", page_path('sundarkandphotos') %><p>
      </center>
    </div>

  </div>
</div>
