<html>
<head>
<title>
Trust Funds
</title>
<style>
a:link     {color:white;text-decoration:none;font-weight:bold}
a:visited{color:white;text-decoration:none;font-weight:bold}
a:hover {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<center>
<table width="700" height="600" border="1" cellspacing="0" cellpadding="10" bordercolor="#CC3333">
<tr>

<td width="70%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolor="#000080">
<tr valign="top">
<td>
<br>
<center>
<h1><font color="#CC3333">Educational Trust Funds</font></h1></center>
<p><p>

<%= link_to "Lunai Mataji Education Trust Fund", page_path('educationtrust') %>
<p>
<%= link_to "Shree Sorathia Prajapati Vidyotejak Mandal", page_path('porbandarhistory2') %>
<p>
<%= link_to "Shribai Kanya Chhatralay Education Trust", page_path('educationtrustjunagadh') %>
<p>
<%= link_to "Shri Sorathia Prajapati Vidyamandal - Original", page_path('vvnwelcome') %> |
<%= link_to "Updated", page_path('vvupdate') %>
<p>
<%= link_to "Smt. Amrutben Mandubhai Gohil Kanya Kelvani Trust", page_path('kelvanitrust') %>

</td>
</tr>
</table>
</td>
<!-- Links-->
<td width="30%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080">
<tr valign="top">
<td>
<center>
<br>
<script language="javascript" src="http://www.sspgm.net/right.js"></script>
</center>
</td>
</tr>
<!-- End of Links-->
</table>
</td>

</tr>
</table>
</center>

<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
</body>
</html>
