<center>
<table border="1" cellspacing="0" cellpadding="9" width="900" bordercolor="#CC3333">
<tr>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td  align="center">
<%= render 'shared/uk_left' %>
</td>
</tr>
</table>

</td>
<td width="50%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<h1><font color="#CC3333"><center>
Welcome to the Bolton Mandal
</font></h1><p><br>

<%= link_to page_path('ukboltonposition') do %>
  <font color="yellow">
    Click here for the history of Bolton SSPC
  </font>
<% end -%><br>

<font color="#66CCFF"><b>
Submitted by Kishorbhai Shamji Dhokia
</b></font><p>

<%= link_to image_path('boltonnav05.jpg') do %>
  <font color="lightgreen">
    There will be a Navratri Festival Hosted by the Shree Sorathia Prajapati Community (Bolton) - Click Here for More Details
  </font>
<% end -%>

</center>
<p>

</td>
</tr>
</table>

</td>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<p>
<%= link_to root_url do %>
  <font color="yellow">
  Back to Main
  </font>
<% end -%>
<p>

<font color="red" size="3"><b>
Features
</b></font><br>
<%= link_to "President", page_path('ukboltonpresident.html') %><br>
<%= link_to "Executive Committee", page_path('ukboltonexecutive.html') %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
