<h1 class="page-header">Answers of Why</h1>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <nav class="nav flex-column">
      <%= link_to 'Why do we light a lamp?', page_path('answers/why_do_we_light_a_lamp'), class:'nav-link' %>
      <%= link_to 'Why do we have a prayer room?', page_path('answers/why_do_we_have_a_prayer_room'), class: 'nav-link' %>
      <%= link_to 'Why do we do namaste?', page_path('answers/why_do_we_do_namaste'), class: 'nav-link' %>
      <%= link_to 'Why do we prostrate before parents and elders?', page_path('answers/why_do_we_prostrate_before_elders'), class: 'nav-link' %>
      <%= link_to 'Why do we wear marks (tilak, pottu and the like) on the forehead?', page_path('answers/why_do_we_wear_marks_on_the_forehead'), class: 'nav-link' %>
      <%= link_to 'Why do we not touch papers, books and people with the feet?', page_path('answers/why_do_we_not_touch_objects_with_the_feet'), class: 'nav-link' %>
      <%= link_to 'To touch another with the feet is considered an act of misdemeanor. Why is this so?', page_path('answers/why_do_we_not_touch_people_with_our_feet'), class: 'nav-link' %>
      <%= link_to 'Why do we apply the holy ash?', page_path('answers/why_do_we_apply_the_holy_ash'), class: 'nav-link' %>
      <%= link_to 'Why do we offer food to the Lord before eating it?', page_path('answers/why_do_we_offer_food_to_the_lord_before_eating_it'), class: 'nav-link' %>
      <%= link_to 'Why do we fast?', page_path('answers/why_do_we_fast'), class: 'nav-link' %>
      <%= link_to 'Why do we do pradakshina (circumambulate)?', page_path('answers/why_do_we_do_pradakshina'), class: 'nav-link' %>
      <%= link_to 'Why is pradakshina done only in a clockwise manner? ', page_path('answers/why_is_pradakshina_done_only_in_a_clockwise_manner_'), class: 'nav-link' %>
      <%= link_to 'Why do we regard trees and plants as sacred?', page_path('answers/why_do_we_regard_trees_and_plants_as_sacred'), class: 'nav-link' %>
      <%= link_to 'Why do we ring the bell in a temple?', page_path('answers/why_do_we_ring_the_bell_in_a_temple'), class: 'nav-link' %>
      <%= link_to 'Why do we worship the kalasha?', page_path('answers/why_do_we_worship_the_kalasha'), class: 'nav-link' %>
      <%= link_to 'Why do we consider the lotus as special?', page_path('answers/why_do_we_consider_the_lotus_as_special'), class: 'nav-link' %>
      <%= link_to 'Why do we worship tulasi?', page_path('answers/why_do_we_worship_tulasi'), class: 'nav-link' %>
      <%= link_to 'Why do we blow the conch?', page_path('answers/why_do_we_blow_the_conch'), class: 'nav-link' %>
      <%= link_to 'Why do we say shaanti thrice?', page_path('answers/why_do_we_say_shaanti_thrice'), class: 'nav-link' %>
      <%= link_to 'Why do we offer a coconut?', page_path('answers/why_do_we_offer_a_coconut'), class: 'nav-link' %>
      <%= link_to 'Why do we chant Om?', page_path('answers/why_do_we_chant_om'), class: 'nav-link' %>
      <%= link_to 'Why do we do aarati?', page_path('answers/why_do_we_do_aarati'), class: 'nav-link' %>
    </nav>
  </div>

  <div class="col-8">
    <%= yield %>
  </div>
</div>
