<!-- TODO: Get these links to work -->

<%= render 'shared/new_styles' %>

<h1>Member Services</h1>

<p class="lead">These members of our community are kindly donating their time and expertise for the welfare of SSPGM members worldwide.</p>

<div class="row">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Hirji Valji Jadav</h5>
            Civil Engineer<br />
            Mauritiaus<br />
            <%= link_to "Professional Listing", professionals_path(category: "Engineers") %>
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Dr. Bharat Pankhania</h5>
            Doctor Communicable Diseases<br />
            United Kingdom<br />
            <%= link_to "Professional Listing", professionals_path(category: "Medical") %><br />
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Dr. Alison Pankhania</h5>
            Dental Surgeon<br />
            United Kingdom<br />
            <%= link_to "Professional Listing", professionals_path(category: "Medical") %>
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Nitin Shingadia</h5>
            Sr. Sales Manager at Four Seasons Hotel<br />
            Mumbai, India<br />
            <%= link_to "Mumbai Tourism", page_path('member-services/nitin-shingadia') %>
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Toral Tank</h5>
            Interior Designer<br />
            United States<br />
            <a href="mailto:toraltank@yahoo.com">toraltank@yahoo.com</a>
        </div>
    </div>
</div>

<div class="mt-5">
    Would you like to be included on the member service listings? Email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>.
</div>
