<%= render 'shared/new_styles' %>

<center><h1>SSPGM Mandals</h1></center>

<br /><br />

<div class="row">

    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">India</h5>
                <p class="card-text">
                    <%= link_to "Baroda", page_path('mandals/baroda') %><br />
                    <%= link_to "Jamnagar", page_path('mandals/jamnagar') %><br />
                    <%= link_to "Mumbai", page_path('mandals/mumbai') %><br />
                    <%= link_to "Porbandar", page_path('mandals/porbandar') %><br />
                    <%= link_to "Ramnagar", page_path('mandals/ramnagar') %><br />
                    <%= link_to "Talala", page_path('mandals/talala') %><br />
                    <%= link_to "Valabh Vidyanagar", page_path('mandals/valabh-vidyanagar') %><br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kenya</h5>
                <p class="card-text">
                    <%= link_to "Nairobi", page_path('mandals/nairobi') %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">United Kingdom</h5>
                <p class="card-text">
                    <%= link_to "Bolton", page_path('mandals/bolton') %><br />
                    <%= link_to "East London", page_path('mandals/east-london') %><br />
                    <%= link_to "Leicester", page_path('mandals/leicester') %><br />
                    <%= link_to "United Kingdom", page_path('mandals/united-kingdom') %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">United States</h5>
                <p class="card-text">
                    <%= link_to "Atlanta", page_path('mandals/atlanta') %>
                </p>
            </div>
        </div>
    </div>
</div>