<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? -%>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118778240-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-118778240-1');
      </script>
    <% end -%>

    <title>SSPGM.net</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "SSPGM.net", root_url, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Family Trees", page_path('familytrees/home'), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Directories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Member Directory", members_path, class: "dropdown-item" %>
              <%= link_to "Professional Directory", professionals_path, class: "dropdown-item" %>
              <%= link_to "Business Directory", businesses_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Mandals
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "United States - Atlanta", page_path('sspgmatlanta'), class: "dropdown-item" %>
              <%= link_to "United Kingdom", page_path('sspgmuk'), class: "dropdown-item" %>
              <%= link_to "India", page_path('india'), class: "dropdown-item" %>
              <%= link_to "Kenya - Nairobi", page_path('nairobi'), class: "dropdown-item" %>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li>
            <%= link_to('My Account', edit_member_path(current_user.member), class: "nav-link") %>
          </li>
          <li>
            <%= link_to('Log out', destroy_user_session_path, class: "nav-link", method: :delete) %>
          </li>
          <% else %>
          <li>
            <%= link_to('Log in', new_user_session_path, class: "nav-link nav-link-black") %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="application-notice alert-success"><%= notice %></div>
    <div class="application-notice alert-danger"><%= alert %></div>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <center>
          <%= link_to "About Us", page_path('aboutus') %>
          <font color="#CC3333" size="2"><b> | </b></font>
          <font color="white" size="2"><b>Copyright &copy; 2002-<%= DateTime.now.year %></b></font>
        </center>
      </div>
    </footer>
  </body>
</html>
