<!DOCTYPE html>
<html>
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118778240-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118778240-1');
    </script>

    <title>SSPGM.net</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="application-notice alert-success"><%= notice %></div>
    <div class="application-notice alert-danger"><%= alert %></div>

    <div class="body-container">
      <%= yield %>

      <div>
        <center>
          <%= link_to "About Us", page_path('aboutus') %>
          <font color="red" size="2"><b> | </b></font>
          <font color="white" size="2"><b>Copyright &copy; 2002-<%= DateTime.now.year %></b></font>
        </center>
      </div>

    </div>
  </body>
</html>
