<%- professional_id = Professional.where(user_id: @member.user_id).pluck(:id).first %>

<div class="row mb-4">
  <div class="col-4">
    <h4><a href="#"><font color="#33CCCC">Basic Information</font></a></h4>
  </div>
  <div class="col-4">
    <h4><%= link_to "Directory Listing", edit_member_path(@member) %></h4>
  </div>
  <div class="col-4">
    <h4><%= link_to "Professional Listing", edit_professional_path(professional_id) %></h4>
  </div>
</div>

<%= form_with(model: @member, validate: true) do |form| %>
  <div class="form-group col-md-4">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :middle_name %><br />
    <%= form.text_field :middle_name, class: "form-control" %>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group col-md-4">
    <%= form.label :email %><br />
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", members_url, class: "btn btn-secondary" %>
  </div>
<% end -%>
