<div class="row mb-3" style="border-bottom: 2px solid #33CCCC">
  <center><h1 class="page-header">SSPGM Directory</h1></center>
</div>

<div class="row">
  <div class="col-4 filter-list">
    <% style = @filter_by.nil? ? "active-filter" : "" %>
    <%= link_to "All Countries", members_url, class: style %><br />
    <% @filter_categories.each do |category| -%>
      <% style = category == @filter_by ? "active-filter" : "" %>
      <%= link_to category, members_url(country: category), class: style %><br />
    <% end -%>
  </div>

  <div class="col-8">
    <% @members.each do |member| %>
      <div class="mb-4">
        <h3><%= member_name(member) %>  </h3>
        <% unless member.address.blank? %><%= member.address %><br /><% end %>
        <%= "#{member.city}, #{member.state} #{member.zip} #{member.country}" %><br />
        <% unless member.telephone.blank? %>Tel: <%= member.telephone %><br /><% end %>
        <% unless member.email.blank? %><%= link_to member.email, "mailto:#{member.email}" %><br /><% end %>
        <% unless member.spouse.blank? %>Spouse: <%= member.spouse %><br /><% end %>
        <% unless member.children.blank? %>Children: <%= member.children %><br /><% end %>
        <% unless member.education.blank? %>Education: <%= member.education %><br /><% end %>
        <% unless member.profession.blank? %>Profession: <%= member.profession %><br /><% end %>
      </div>
    <% end -%>
  </div>
</div>
